<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品修改</title>
    <!-- 利用th:insert 或是 th:replace 來載入模板 -->
  </head>
  <body>
    <script>
      function loadImageFileAsURL() {
        let filesSelected = document.getElementById("inputFileToLoad").files;
        if (filesSelected.length > 0) {
          let fileToLoad = filesSelected[0];

          let fileReader = new FileReader();

          fileReader.onload = function (fileLoadedEvent) {
            fileDataURL = fileLoadedEvent.target.result;
          };

          fileReader.readAsDataURL(fileToLoad);
        }
      }
    </script>
    <div th:replace="jsmodules"></div>
    <div th:replace="component/backendNavbar :: backendNavbar"></div>
    <div class="container">
      <form
        th:action="@{/admin/updateProduct}"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          type="hidden"
          name="product_id"
          th:value="${product.product_id}"
        />
        <input type="hidden" name="onsale" th:value="${product.onsale}" />
        <table>
          <tr>
            <td>商品名稱:</td>
            <td>
              <input type="text" name="title" th:value="${product.title}" />
            </td>
          </tr>
          <tr>
            <td>商品價格:</td>
            <td>
              <input type="text" name="price" th:value="${product.price}" />
            </td>
          </tr>
          <tr>
            <td>商品庫存:</td>
            <td>
              <input type="text" name="stock" th:value="${product.stock}" />
            </td>
          </tr>
          <tr>
            <td>商品種類:</td>
            <td>
              <input type="text" name="type" th:value="${product.type}" />
            </td>
          </tr>
          <tr>
            <td>商品簡介:</td>
            <td>
              <input type="text" name="text" th:value="${product.text}" />
            </td>
          </tr>
          <tr>
            <td>商品圖片:</td>
            <td>
              <input
                id="inputFileToLoad"
                type="file"
                name="file"
                onchange="loadImageFileAsURL()"
                class="file-upload-default"
              />
            </td>
            <td>
              <img
                id="preview_img"
                th:src="@{'/admin/downloadImage/'+${product.product_id}}"
                style="
                  height: 300px;
                  width: 300px;
                  border-radius: 60px 60px 60px 60px;
                  margin-left: 30px;
                "
              />
            </td>
          </tr>
        </table>
        <button type="submit">修改</button>
      </form>
    </div>

    <script>
      $("#inputFileToLoad").change(function () {
        readURL(this);
      });

      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#preview_img").attr("src", e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  </body>
</html>
