<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>商品修改</title>
<!-- 利用th:insert 或是 th:replace 來載入模板 -->
</head>
<body>
	<div th:replace="jsmodules"></div>
	<div th:replace="component/navbar :: navbar"></div>
	<div class="container">
	<form th:action="@{/updateProduct}" method="post" th:object="${product}">
	<input type="hidden" th:field="${product.product_id}">
	<input type="hidden" th:field="${product.picture}">
		<table>
			<tr>
				<td>商品名稱:</td>
				<td><input type="text" th:field="${product.title}"/></td>
			</tr>
			<tr>
				<td>商品價格:</td>
				<td><input type="text" th:field="${product.price}"/></td>
			</tr>
			<tr>
				<td>商品庫存:</td>
				<td><input type="text" th:field="${product.stock}"/></td>
			</tr>
			<tr>
				<td>商品種類:</td>
				<td><input type="text" th:field="${product.type}"/></td>
			</tr>
			<tr>
				<td>商品簡介:</td>
				<td><input type="text" th:field="${product.text}"/></td>
			</tr>
<!-- 			<tr> -->
<!-- 				<td>商品簡介:</td> -->
<!-- 				<td><input type="text" th:value="${product.text}"/></td> -->
<!-- 			</tr> -->
		</table>
		<button type="submit">修改</button>
	</form>
	</div>

</body>
</html>