<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品總覽</title>
    <!-- 利用th:insert 或是 th:replace 來載入模板 -->

    <div th:replace="jsmodules"></div>
  </head>
  <body>
    <script>
      function loadImageFileAsURL() {
        let filesSelected = document.getElementById("inputFileToLoad").files;
        if (filesSelected.length > 0) {
          let fileToLoad = filesSelected[0];

          let fileReader = new FileReader();

          fileReader.onload = function (fileLoadedEvent) {
            fileDataURL = fileLoadedEvent.target.result;
          };

          fileReader.readAsDataURL(fileToLoad);
        }
      }
    </script>
    <div th:replace="component/chatbubble"></div>
    <div th:replace="component/backendNavbar :: backendNavbar"></div>
    <a
      class="btn btn-dark"
      style="background-color: #f45b69"
      th:href="@{/admin/gotoProduct}"
      >新增商品</a
    >
    <input type="text" value="" name="productname" /><button id="productname">
      查詢
    </button>
    <table border="1">
      <thead>
        <tr border="1">
          <th>商品名稱</th>
          <th>商品價格</th>
          <th>商品庫存</th>
          <th>商品狀態</th>
          <th>商品上下架</th>
          <th>商品種類</th>
          <th>商品簡介</th>
          <th>商品照片</th>
          <th>修改</th>
          <th>刪除</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr th:each="productinfo : ${productList}">
          <td th:text="${productinfo.title}"></td>
          <td th:text="${productinfo.price}"></td>
          <td th:text="${productinfo.stock}"></td>
          <td th:if="${productinfo.stock} eq 0">
            <span style="color: gray">關閉中</span>
          </td>
          <td
            id="onsalecheck"
            th:if="${productinfo.onsale} eq 1 and ${productinfo.stock} != 0"
            th:name="${productinfo.product_id}"
          >
            <span th:name="${productinfo.product_id}" style="color: green"
              >販售中</span
            >
          </td>
          <td
            id="onsalecheck"
            th:if="${productinfo.onsale} eq 0 and ${productinfo.stock} != 0"
            th:name="${productinfo.product_id}"
          >
            <span th:name="${productinfo.product_id}" style="color: red"
              >下架中</span
            >
          </td>
          <td th:if="${productinfo.stock} eq 0">
            <button type="button" class="btn btn-secondary" disabled>
              已關閉
            </button>
          </td>
          <td
            th:id="${productinfo.onsale}"
            th:if="${productinfo.onsale} eq 1 and ${productinfo.stock} != 0"
            th:name="${productinfo.product_id}"
          >
            <button
              th:id="${productinfo.product_id}"
              type="button"
              class="btn btn-success"
              style="display: none"
              name="check"
            >
              上架
            </button>
            <button
              th:id="${productinfo.product_id}"
              type="button"
              class="btn btn-danger"
              name="check"
            >
              下架
            </button>
            <input name="sp1" th:id="${productinfo.onsale}" type="hidden" />
          </td>
          <td
            th:id="${productinfo.onsale}"
            th:if="${productinfo.onsale} eq 0 and ${productinfo.stock} != 0"
            th:name="${productinfo.product_id}"
          >
            <button
              th:id="${productinfo.product_id}"
              type="button"
              class="btn btn-success"
              name="check"
            >
              上架
            </button>
            <button
              th:id="${productinfo.product_id}"
              type="button"
              class="btn btn-danger"
              style="display: none"
              name="check"
            >
              下架
            </button>
            <input name="sp1" th:id="${productinfo.onsale}" type="hidden" />
          </td>
          <td th:text="${productinfo.type}"></td>
          <td>
            <textarea
              th:text="${productinfo.text}"
              class="form-control"
              id="text"
              disabled
            ></textarea>
          </td>
          <td>
            <img
              th:src="@{'/admin/downloadImage/'+${productinfo.product_id}}"
              width="30px"
              height="40px"
            />
          </td>
          <td>
            <!-- <a
          th:onclick="return confirm('確定修改嗎?')"
          th:href="@{'/admin/updateProduct?product_id='+${productinfo.product_id}}"
          >編輯</a
          > -->
            <button
              th:id="${productinfo.product_id}"
              name="checkboxone"
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@getbootstrap"
            >
              編輯
            </button>
          </td>
          <td>
            <a
              th:onclick="return confirm('確定刪除嗎?')"
              th:href="@{'/admin/deleteProduct?product_id='+${productinfo.product_id}}"
              >刪除</a
            >
          </td>
        </tr>
      </tbody>
    </table>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">商品修改</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form
            th:action="@{/admin/updateProduct}"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="modal-body">
              <div class="mb-3">
                <label for="recipient-title" class="col-form-label"
                  >商品名稱:</label
                >
                <input
                  name="title"
                  type="text"
                  class="form-control"
                  id="recipient-title"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="message-price" class="col-form-label"
                  >商品價格:</label
                >
                <input
                  name="price"
                  type="number"
                  min="0"
                  class="form-control"
                  id="recipient-price"
                  value=""
                  required
                />
              </div>
              <div class="mb-3">
                <label for="message-stock" class="col-form-label"
                  >商品庫存:</label
                >
                <input
                  name="stock"
                  type="number"
                  class="form-control"
                  id="recipient-stock"
                  value=""
                  required
                />
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >商品簡介:</label
                >
                <textarea
                  name="text"
                  class="form-control"
                  id="recipient-text"
                  required
                ></textarea>
              </div>
              <div class="mb-3">
                商品種類:<select name="type">
                  <option>運動食品</option>
                  <option>運動用品</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="inputFileToLoad" class="col-form-label"
                  >商品圖片:</label
                >
                <input
                  id="inputFileToLoad"
                  type="file"
                  name="file"
                  onchange="loadImageFileAsURL()"
                  class="file-upload-default"
                />
              </div>
              <div class="mb-3">
                <img
                  id="preview_img"
                  th:src="@{#}"
                  style="
                    height: 300px;
                    width: 300px;
                    border-radius: 60px 60px 60px 60px;
                    margin-left: 30px;
                  "
                />
                <input id="onsale" name="onsale" value="" hidden />
                <input id="product_id" name="product_id" value="" hidden />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      var inputFileToLoad = $("#inputFileToLoad");
      inputFileToLoad.change(function () {
        readURL(this);
      });
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#preview_img").attr("src", e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
        }
      }

      var btn = document.getElementsByName("checkboxone");

      for (let i of btn) {
        i.addEventListener("click", (e) => {
          checkbox(e);
        });
      }
      function checkbox(e) {
        console.log("好痛苦");
        var product_id = $(e.target).attr("id");
        var requestOptions = {
          method: "GET",
          redirect: "follow",
        };
        fetch(
          "http://localhost:8082/admin/updateProduct?product_id=" + product_id,
          requestOptions
        )
          .then((response) => response.json())
          .then((result) => {
            console.log(result.product_id);
            $("#recipient-title").attr("value", result.title);
            $("#recipient-price").attr("value", result.price);
            $("#recipient-stock").attr("value", result.stock);
            $("#recipient-text").text(result.text);
            $("#onsale").attr("value", result.onsale);
            $("#product_id").attr("value", result.product_id);
            $("#preview_img").attr(
              "src",
              "/admin/downloadImage/" + result.product_id
            );
          })
          .catch((error) => console.log("error", error));
      }

      $("button[name='check']").click(function (e) {
        var id = $(e.target).attr("id");
        var onsale = $(e.target).parent().attr("id");
        console.log(id);
        console.log(onsale);
        var settings = {
          url:
            "http://localhost:8082/admin/api/changeOnsale/" + id + "/" + onsale,
          method: "POST",
          timeout: 0,
          headers: {
            "Content-Type": "application/json",
          },
          data: JSON.stringify({}),
        };

        $.ajax(settings).done(function (response) {
          console.log(response);
          if (response.onsale == 1) {
            // console.log($(e.target).prev()[0]);
            // console.log($(e.target).next()[0]);
            $(e.target).parent().attr("id", response.onsale);
            $(e.target).hide().attr("class", "btn btn-success");
            $(e.target).next().show().attr("class", "btn btn-danger");
            $(e.target)
              .parent()
              .prev()
              .find("span")
              .attr("style", "color:green")
              .text("販售中");
          } else if (response.onsale == 0) {
            $(e.target)
              .parent()
              .prev()
              .find("span")
              .attr("style", "color:red")
              .text("下架中");
            $(e.target).parent().attr("id", response.onsale);
            console.log($(e.target).prev()[0]);
            console.log($(e.target).next()[0]);
            $(e.target).hide().attr("class", "btn btn-danger");
            $(e.target).prev().show().attr("class", "btn btn-success");
          }
        });
      });
      $("#productname").click(function () {
        // $("#tbody").hide();
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        var raw = $("input[name='productname']").val();
        if (!raw || raw.length === 0) {
          raw = '""';
        }
        var requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        };

        fetch("http://localhost:8082/public/api/selectLike", requestOptions)
          .then((response) => response.json())
          .then((result) => {
            console.log(result);
            var str;
            for (let i of result) {
              str += "<tr><td>" + i.title + "</td>";
              str += "<td>" + i.price + "</td>";
              str += "<td>" + i.stock + "</td>";
              if (i.stock == 0) {
                str += "<td><span style='color:gray'>關閉中</span></td>";
                str +=
                  "<td><button type='button' class='btn btn-secondary' disabled>已關閉</button></td>";
              }
              if (i.onsale == 1 && i.stock != 0) {
                str += "<td><span style='color:green'>販售中</span></td>";
                str +=
                  '<td id="' +
                  i.onsale +
                  "\"><button id='" +
                  i.product_id +
                  "' type='button' class='btn btn-success' style=\"display: none;\" name=\"checksale\">上架</button>";
                str +=
                  "<button id='" +
                  i.product_id +
                  "' type='button' class='btn btn-danger' name=\"checksale\">下架</button></td>";
              } else if (i.onsale == 0 && i.stock != 0) {
                str += "<td><span style='color:red'>下架中</span></td>";
                str +=
                  '<td id="' +
                  i.onsale +
                  "\"><button id='" +
                  i.product_id +
                  "' type='button' class='btn btn-success' name=\"checksale\">上架</button>";
                str +=
                  "<button id='" +
                  i.product_id +
                  "' type='button' class='btn btn-danger' style=\"display: none;\" name=\"checksale\">下架</button></td>";
              }
              str += "<td>" + i.type + "</td>";
              str +=
                "<td><textarea text='" +
                i.text +
                "' class='form-control' id='text' disabled>" +
                i.text +
                "</textarea></td>";
              str +=
                "<td><img src='/admin/downloadImage/" +
                i.product_id +
                '\' style="width:50px;height:50px;border-radius:50px 50px 50px 50px;"/></td>';
              str +=
                "<td><button id='" +
                i.product_id +
                "' name='checkboxone' type='button' class='btn btn-primary' data-bs-toggle='modal' data-bs-target='#exampleModal' data-bs-whatever='@getbootstrap'>編輯</button>";
              str +=
                "<td><a onclick=\"return confirm('確定刪除嗎?')\" href=\"/admin/deleteProduct?product_id='" +
                i.product_id +
                '">刪除</a></td></tr>';
            }
            $("#tbody").html(str);

            var btn = document.getElementsByName("checkboxone");

            for (let i of btn) {
              i.addEventListener("click", (e) => {
                checkbox(e);
              });
            }

            var check = $("button[name='checksale']");
            check.click(function (e) {
              var id = $(e.target).attr("id");
              var onsale = $(e.target).parent().attr("id");
              // console.log(id);
              // console.log(onsale);
              var settings = {
                url:
                  "http://localhost:8082/admin/api/changeOnsale/" +
                  id +
                  "/" +
                  onsale,
                method: "POST",
                timeout: 0,
                headers: {
                  "Content-Type": "application/json",
                },
                data: JSON.stringify({}),
              };

              $.ajax(settings).done(function (response) {
                // console.log($(e.target).prev()[0]);
                // console.log($(e.target).next()[0]);
                console.log(response.onsale);
                if (response.onsale == 1) {
                  $(e.target)
                    .parent()
                    .prev()
                    .find("span")
                    .attr("style", "color:green")
                    .text("販售中");
                  console.log($(e.target).prev()[0]);
                  console.log($(e.target).next()[0]);
                  $(e.target).parent().attr("id", response.onsale);
                  $(e.target).hide();
                  $(e.target).next().show();
                } else if (response.onsale == 0) {
                  $(e.target)
                    .parent()
                    .prev()
                    .find("span")
                    .attr("style", "color:red")
                    .text("下架中");
                }
                $(e.target).parent().attr("id", response.onsale);
                $(e.target).hide();
                $(e.target).prev().show();
              });
            });
          })
          .catch((error) => console.log("error", error));
      });
    </script>
  </body>
</html>
