<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>商品總覽</title>
<!-- 利用th:insert 或是 th:replace 來載入模板 -->

<div th:replace="jsmodules"></div>
</head>
<body>

	<div th:replace="component/backendNavbar :: backendNavbar"></div>
	<table border="1">
		<tr border="1">
			<th>商品名稱</th>
			<th>商品價格</th>
			<th>商品庫存</th>
			<th>商品上下架</th>
			<th>商品種類</th>
			<th>商品簡介</th>
			<th>商品照片</th>
		</tr>
		<tr th:each="productinfo : ${productList}">
			<td th:text="${productinfo.title}"></td>
			<td th:text="${productinfo.price}"></td>
			<td th:text="${productinfo.stock}"></td>
			<td id="onsale" th:if="${productinfo.onsale} eq 1"
				th:name="${productinfo.product_id}"><button type="button"
					id="check">上架</button>
				<input id="sp" th:name="${productinfo.onsale}" type="hidden" /></td>
			<td id="onsale" th:if="${productinfo.onsale} eq 0"
				th:name="${productinfo.product_id}"><button type="button"
					id="check">下架</button>
				<input id="sp" th:name="${productinfo.onsale}" type="hidden" /></td>
			<td th:text="${productinfo.type}"></td>
			<td th:text="${productinfo.text}"></td>
			<td><img
				th:src="@{'/public/downloadImage/'+${productinfo.product_id}}"
				width="30px" height="40px" /></td>
			<td><a th:onclick="return confirm('確定修改嗎?')"
				th:href="@{'/public/updateProduct?product_id='+${productinfo.product_id}}">修改</a></td>
			<td><a th:onclick="return confirm('確定刪除嗎?')" th:href="@{#}">刪除</a></td>
		</tr>
	</table>


	<script>
		$("#check").click(function() {
							var id = $("#onsale").attr("name");
							var onsale = $("#sp").attr("name");
							var settings = {
								"url" : "http://localhost:8082/public/api/changeOnsale/"
										+ id + "/" + onsale,
								"method" : "POST",
								"timeout" : 0,
								"headers" : {
									"Content-Type" : "application/json"
								},
								"data" : JSON.stringify({}),
							};
							
							$.ajax(settings).done(function(response) {
								if(response.onsale == 1){
	
								$("#onsale").html('<button type="button" id="check">上架</button><input id="sp" th:name="${productinfo.onsale}" type="hidden" />')
								}else if(response.onsale == 0){
								$("#onsale").html('<button type="button" id="check">上架</button><input id="sp" th:name="${productinfo.onsale}" type="hidden" />')								
								}
							})
						})
	</script>
</body>
</html>