<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品總覽</title>
    <!-- 利用th:insert 或是 th:replace 來載入模板 -->

    <div th:replace="jsmodules"></div>
  </head>
  <body>
    <div th:replace="component/chatbubble"></div>
    <div th:replace="component/backendNavbar :: backendNavbar"></div>
    <a
      class="btn btn-dark"
      style="background-color: #f45b69"
      th:href="@{/admin/gotoProduct}"
      >新增商品</a
    >
    <table border="1">
      <tr border="1">
        <th>商品名稱</th>
        <th>商品價格</th>
        <th>商品庫存</th>
        <th>商品狀態</th>
        <th>商品上下架</th>
        <th>商品種類</th>
        <th>商品簡介</th>
        <th>商品照片</th>
      </tr>
      <tr th:each="productinfo : ${productList}">
        <td th:text="${productinfo.title}"></td>
        <td th:text="${productinfo.price}"></td>
        <td th:text="${productinfo.stock}"></td>
        <td th:if="${productinfo.stock} eq 0">
          <span style="color: gray">關閉中</span>
        </td>
        <td
          id="onsalecheck"
          th:if="${productinfo.onsale} eq 1 and ${productinfo.stock} != 0"
          th:name="${productinfo.product_id}"
        >
          <span th:name="${productinfo.product_id}" style="color: green"
            >販售中</span
          >
        </td>
        <td
          id="onsalecheck"
          th:if="${productinfo.onsale} eq 0 and ${productinfo.stock} != 0"
          th:name="${productinfo.product_id}"
        >
          <span th:name="${productinfo.product_id}" style="color: red"
            >下架中</span
          >
        </td>
        <td th:if="${productinfo.stock} eq 0">
          <button type="button" class="btn btn-secondary" disabled>
            已關閉
          </button>
        </td>
        <td
          th:id="${productinfo.onsale}"
          th:if="${productinfo.onsale} eq 1 and ${productinfo.stock} != 0"
          th:name="${productinfo.product_id}"
        >
          <button
            th:id="${productinfo.product_id}"
            type="button"
            class="btn btn-success"
            style="display: none"
            name="check"
          >
            上架
          </button>
          <button
            th:id="${productinfo.product_id}"
            type="button"
            class="btn btn-danger"
            name="check"
          >
            下架
          </button>
          <input name="sp1" th:id="${productinfo.onsale}" type="hidden" />
        </td>
        <td
          th:id="${productinfo.onsale}"
          th:if="${productinfo.onsale} eq 0 and ${productinfo.stock} != 0"
          th:name="${productinfo.product_id}"
        >
          <button
            th:id="${productinfo.product_id}"
            type="button"
            class="btn btn-success"
            name="check"
          >
            上架
          </button>
          <button
            th:id="${productinfo.product_id}"
            type="button"
            class="btn btn-danger"
            style="display: none"
            name="check"
          >
            下架
          </button>
          <input name="sp1" th:id="${productinfo.onsale}" type="hidden" />
        </td>
        <td th:text="${productinfo.type}"></td>
        <td th:text="${productinfo.text}"></td>
        <td>
          <img
            th:src="@{'/admin/downloadImage/'+${productinfo.product_id}}"
            width="30px"
            height="40px"
          />
        </td>
        <td>
          <a
            th:onclick="return confirm('確定修改嗎?')"
            th:href="@{'/admin/updateProduct?product_id='+${productinfo.product_id}}"
            >修改</a
          >
        </td>
        <td>
          <a
            th:onclick="return confirm('確定刪除嗎?')"
            th:href="@{'/admin/deleteProduct?product_id='+${productinfo.product_id}}"
            >刪除</a
          >
        </td>
      </tr>
    </table>

    <script>
      $("button[name='check']").click(function (e) {
        var id = $(e.target).attr("id");
        var onsale = $(e.target).parent().attr("id");
        console.log(id);
        console.log(onsale);
        var settings = {
          url:
            "http://localhost:8082/admin/api/changeOnsale/" + id + "/" + onsale,
          method: "POST",
          timeout: 0,
          headers: {
            "Content-Type": "application/json",
          },
          data: JSON.stringify({}),
        };

        $.ajax(settings).done(function (response) {
          console.log(response);
          if (response.onsale == 1) {
            // console.log($(e.target).prev()[0]);
            // console.log($(e.target).next()[0]);
            $(e.target).parent().attr("id", response.onsale);
            $(e.target).hide().attr("class", "btn btn-success");
            $(e.target).next().show().attr("class", "btn btn-danger");
            $(e.target)
              .parent()
              .prev()
              .find("span")
              .attr("style", "color:green")
              .text("販售中");
          } else if (response.onsale == 0) {
            $(e.target)
              .parent()
              .prev()
              .find("span")
              .attr("style", "color:red")
              .text("下架中");
            $(e.target).parent().attr("id", response.onsale);
            console.log($(e.target).prev()[0]);
            console.log($(e.target).next()[0]);
            $(e.target).hide().attr("class", "btn btn-danger");
            $(e.target).prev().show().attr("class", "btn btn-success");
          }
        });
      });
    </script>
  </body>
</html>
