<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <div th:replace="jsmodules"></div>
  <style>
    body {
      background-color: black;
      background-size: 100vw;
      min-height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    footer {
      min-height: 100px;
      background: PapayaWhip;
    }

    article {
      flex: 1;
    }
  </style>
</head>

<body>
  <div th:replace="component/navbar :: navbar"></div>
  <div th:replace="component/chatbubble"></div>

  <article>
    <!-- 網站內文放這裡 -->
    <div class="col-lg-8 mx-auto mt-5 mb-5">
      <!-- 按鈕--新增今天日記 & 修改今天日記  -->
      <div class="d-flex">
        <sapn id="sapn" th:name="${bool}" th:if="${bool} eq 'true'">
          <a class="btn btn-warning btn-lg border border-white border-5 fw-bold" href="/dailyRecord/add">點我新增今天日記</a>
        </sapn>
        <sapn id="sapn" th:name="${bool}" th:if="${bool} eq 'false'">
          <a class="btn btn-warning btn-lg border border-white border-5 fw-bold"
            href="/todayDailyRecord/edit">點我修改今天日記</a>
        </sapn>
      </div>
      <br />
      <div class="border border-success border-5 rounded-3">
        <!-- 選擇日期與數據按鈕 -->
        <div class="d-flex justify-content-center p-3 rounded-3 mb-2" style="background-color: white ; color: black; ">
          <label class="fs-3" for="date1">起始日期:</label>&nbsp&nbsp
          <input class="rounded-pill" id="date1" type="date" />&nbsp&nbsp&nbsp&nbsp&nbsp
          <label class="fs-3" for="date2">結束日期:</label>&nbsp&nbsp
          <input class="rounded-pill" id="date2" type="date" />&nbsp&nbsp&nbsp&nbsp&nbsp
          <button class="btn btn-dark border border-warning border-3  text-white" id="chartset"
            th:name="${#authentication.getPrincipal().getFkMember().getMember_id()}">
            身體數據曲線圖
          </button>
        </div>

        <div class="p-3 rounded-3 bg-warning text-white text-center">
          <main>
            <h1>所有日記</h1>
            <!-- cellpadding="2" -->
            <table class="d-flex justify-content-center fs-5">
              <tr>
                <th>日期</th>
                <th>編輯</th>
                <th>刪除</th>
              </tr>

              <tr th:each="daily : ${list}">
                <td th:text="${daily.date_time}"></td>
                <td>
                  <a th:href="@{'/dailyRecord/edit?date_time='+${daily.date_time}}">
                    <button type="submit" value="edite" class="btn btn-dark">修改</button>
                  </a>
                </td>
                <td>
                  <a th:onclick="return confirm('確定刪除嗎?')"
                    th:href="@{'/dailyRecord/delete?daily_record_id='+${daily.daily_record_id}}">
                    <button type="submit" value="delete" class="btn btn-danger">刪除</button>
                  </a>
                </td>
              </tr>
            </table>
          </main>
        </div>
        <!-- 曲線圖 -->
        <div id="chart" class="p-3">
          <canvas id="canvas-2"></canvas>
        </div>
      </div>
    </div>


  </article>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    var btm = document.getElementById("chartset");
    btm.addEventListener("click", (e) => click(e));
    function click(e) {
      var date1 = $("#date1").val();
      var date2 = $("#date2").val();
      if (date1 == "" || date2 == "") {
        alert("請選取日期");
        console.log(date2);
      } else if (date1 > date2) {
        alert("起始日期不可晚於結束日期");
      } else if (date2 > date1 && date1 != "" && date2 != "") {
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var requestOptions = {
          method: "GET",
          headers: myHeaders,
          redirect: "follow",
        };

        fetch(
          "http://localhost:8082/public/api/chartBmi/" +
          $(e.target).attr("name") +
          "/" +
          date1 +
          "/" +
          date2,
          requestOptions
        )
          .then((response) => response.json())
          .then((result) => {
            console.log(result);
            if (result == "") {
              alert("您沒有此區間的資料");
            } else {
              var num = 0;
              for (let i in result) {
                num++;
              }
              if (num <= 30 && num > 0) {
                var wei = [];
                var bmi = [];
                var bodyfat = [];
                var date = [];
                var weirage = 0;
                var bmirage = 0;
                var bodyfatrage = 0;
                var index = 0;
                for (let i of result) {
                  wei[index] = i.weight;
                  weirage += i.weight;
                  bmi[index] = i.bmi;
                  bmirage += i.bmi;
                  bodyfat[index] = i.bodyFat;
                  bodyfatrage += i.bodyFat;
                  date[index] = i.date_time;
                  index++;
                }
                weirage = (weirage / index).toFixed(2);
                bmirage = (bmirage / index).toFixed(2);
                bodyfatrage = (bodyfatrage / index).toFixed(2);
                var ctx2 = document.getElementById("canvas-2");

                var myChart2 = new Chart(ctx2, {
                  type: "line", //設定為柱狀圖
                  data: {
                    labels: date, // X軸名稱
                    datasets: [
                      // datasets是陣列，每個陣列代表一個資料類型
                      {
                        label: "平均BMI:" + bmirage, // Y軸的名稱
                        data: bmi, // Y軸的值
                        backgroundColor: "rgba(31,119,180,0.2)",
                        borderColor: "#1f77b4",
                        fill: true,
                        lineTension: 0,
                      },
                      {
                        label: "平均體重:" + weirage, // Y軸的名稱
                        data: wei, // Y軸的值
                        backgroundColor: "rgba(255,127,14,0.2)",
                        borderColor: "#ff7f0e",
                        fill: true,
                        lineTension: 0,
                      },
                      {
                        label: "平均體脂:" + bodyfatrage, // Y軸的名稱
                        data: bodyfat, // Y軸的值

                        fill: true,
                        backgroundColor: "rgba(255,0,0,0.2)",
                        borderColor: "red",
                        lineTension: 0,
                      },
                    ],
                  },
                });
              } else if (num > 30) {
                alert("日期區間不能大於30天");
              }
            }
          })
          .catch((error) => console.log("error", error));
      }
    }
  </script>
  <footer>
    <div th:replace="component/footer"></div>
  </footer>
</body>

</html>