<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArticleCategories</title>
    <div th:replace="jsmodules"></div>
  </head>

  <body>
    <div th:replace="component/navbar :: navbar"></div>
    <a
      class="btn btn-dark"
      style="background-color: #f45b69"
      href="/dailyRecord/all"
      >取消修改</a
    >
    <div class="container-lg" style="width: 800px" th:fragment="form">
      <form
        th:object="${daily_record}"
        th:action="@{/dailyRecord/edit}"
        method="post"
        enctype="multipart/form-data"
      >
        <div>
          體重:<input type="text" name="weight" th:field="*{weight}" /><br />
          體脂:<input type="text" name="bodyFat" th:field="*{bodyFat}" /><br />
          飲水量:<input
            type="text"
            name="drinkingWater"
            th:field="*{drinkingWater}"
          /><br />
          <input th:field="*{daily_record_id}" type="hidden" />
          <!-- <input th:field="${daily_record.date_time}" type="hidden" /> -->
          <button type="reset" class="btn btn-secondary">重置</button>
          <button type="submit" class="signupbtn btn btn-primary">送出</button>
        </div>
      </form>
      <button
        id=""
        name="checkboxone"
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#food"
        data-bs-whatever="@getbootstrap"
      >
        新增食物
      </button>
      <div>
        <table class="mytable" id="list_table_json">
          <thead>
            <tr>
              <th>食物名稱</th>
              <th>份量</th>
              <th>總卡路里</th>
              <th>取消</th>
            </tr>
            <tr th:each="odt : ${odt}">
              <td th:text="${odt.foodname}"></td>
              <td th:text="${odt.side}"></td>
              <td th:text="${odt.title}"></td>
              <td>
                <input
                  id="food_daily_id"
                  th:value="${odt.food_daily_id}"
                  type="hidden"
                />
                <button
                  th:id="${odt.food_daily_id}"
                  name="submitDeleteFood"
                  type="button"
                  class="btn btn-danger"
                >
                  X
                </button>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <!-- ---------------------------------------------------------------------------- -->
    <div
      class="modal fade"
      id="food"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">新增食物</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              食物分類:<select id="foodname">
                <option th:each="allFoodList:${foodList}">
                  [[${allFoodList.foodname}]]
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="message-stock" class="col-form-label"
                >食品份量:</label
              >
              <input
                name="stock"
                type="number"
                class="form-control"
                id="food-side"
                value=""
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="submitAddFood" type="submit" class="btn btn-primary">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------- -->
    <div
      class="modal fade"
      id="sports"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">新增運動</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              運動分類:<select>
                <option id="sportsname" th:each="allSportsList:${sportsList}">
                  [[${allSportsList.sportsname}]]
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="message-stock" class="col-form-label"
                >運動時間:</label
              >
              <input
                name="stock"
                type="number"
                class="form-control"
                id="Sports-time"
                value=""
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="submitBtnSports" type="submit" class="btn btn-primary">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
