<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArticleCategories</title>
    <div th:replace="jsmodules"></div>
  </head>

  <body>
    <div th:replace="component/navbar :: navbar"></div>

    <span id="sapn" th:name="${bool}" th:if="${bool} eq 'true'">
      <a
        class="btn btn-dark"
        style="background-color: #f45b69"
        href="/dailyRecord/add"
        >新增今天日記</a
      >
    </span>
    <span id="sapn" th:name="${bool}" th:if="${bool} eq 'false'">
      <a
        class="btn btn-dark"
        style="background-color: #f45b69"
        href="/todayDailyRecord/edit"
        >修改今天日記</a
      >
    </span>
    <div class="" style="width: 50%; margin: 20px auto">
      <h1>所有日記</h1>
      <div class="container-lg" style="width: 800px" th:fragment="form">
        <table border="2" cellpadding="2">
          <tr>
            <th>日期</th>
            <th>編輯</th>
            <th>刪除</th>
          </tr>

          <tr th:each="daily : ${list}">
            <td th:text="${daily.date_time}"></td>
            <td>
              <a th:href="@{'/dailyRecord/edit?date_time='+${daily.date_time}}"
                ><button type="submit" value="edite">修改</button></a
              >
            </td>
            <td>
              <a
                th:onclick="return confirm('確定刪除嗎?')"
                th:href="@{'/dailyRecord/delete?daily_record_id='+${daily.daily_record_id}}"
                ><button type="submit" value="delete">刪除</button></a
              >
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script></script>
  </body>
</html>
