<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArticleCategories</title>
    <div th:replace="jsmodules"></div>
  </head>

  <body>
    <div th:replace="component/navbar :: navbar"></div>
    <a
      class="btn btn-dark"
      style="background-color: #f45b69"
      th:href="@{'/dailyRecord/delete?daily_record_id='+${daily_record.daily_record_id}}"
      >取消新增</a
    >
    <div class="container-lg" style="width: 800px" th:fragment="form">
      <form
        th:object="${daily_record}"
        th:action="@{/dailyRecord/add}"
        method="post"
        enctype="multipart/form-data"
      >
        <div>
          體重:<input type="text" name="weight" th:field="*{weight}" /><br />
          體脂:<input type="text" name="bodyFat" th:field="*{bodyFat}" /><br />
          飲水量:<input
            type="text"
            name="drinkingWater"
            th:field="*{drinkingWater}"
          /><br />
          <input
            id="daily_record_id"
            th:field="*{daily_record_id}"
            type="hidden"
          />
          <button type="reset" class="btn btn-secondary">重置</button>
          <button type="button" class="signupbtn btn btn-primary">送出</button
          ><br />
          <button
            id="${productinfo.product_id}"
            name="checkboxone"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@getbootstrap"
          >
            新增食物
          </button>
          <div>
            <table class="mytable" id="list_table_json">
              <thead>
                <tr>
                  <th>食物名稱</th>
                  <th>份量</th>
                  <th>總卡路里</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </form>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">新增食物</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              食物分類:<select>
                <option id="foodname" th:each="allFoodList:${foodList}">
                  [[${allFoodList.foodname}]]
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="message-stock" class="col-form-label"
                >食品份量:</label
              >
              <input
                name="stock"
                type="number"
                class="form-control"
                id="recipient-stock"
                value=""
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="submitBtn" type="submit" class="btn btn-primary">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      // var side = $("#recipient-stock").val();
      // var daily_record_id = $("#daily_record_id").val();
      // var foodname = $("#foodname").val();
      // var requestOptions = {
      //   method: "POST",
      //   headers: myHeaders,
      //   redirect: "follow",
      // };

      // fetch(
      //   "http://localhost:8082/public/dailyRecord/addFood/" +
      //     daily_record_id +
      //     "/" +
      //     foodname +
      //     "/" +
      //     side,
      //   requestOptions
      // )
      //   .then((response) => response.text())
      //   .then((result) => console.log(result))
      //   .catch((error) => console.log("error", error));

      $(document).ready(function () {
        $("#submitBtn").click(function () {
          var sd = $("#recipient-stock").val();
          var d_r_id = $("#daily_record_id").val();
          var fn = $("#foodname").val();
          console.log(foodname);
          var oja = {
            daily_record_id: d_r_id,
            foodname: fn,
            side: sd,
          };
          var myJSONtext2 = JSON.stringify(oja);
          $.ajax({
            url: "http://localhost:8082/public/dailyRecord/addFood/",
            data: { myJSONtext2 },
            traditional: true,
            method: "POST",
            timeout: 0,
            success: function (result) {
              console.log(result);

              $("#list_table_json tbody tr td").add();

              msg_data = "<tbody>";
              $.each(result, function (index, value) {
                console.log(value.foodname);
                msg_data += "<tr>";
                msg_data += "<td>" + value.foodname + "</td>";
                msg_data += "<td>" + value.side + "</td>";
                msg_data += "<td>" + value.totle + "</td>";
                msg_data += "</tr>";
              });
              msg_data += "</tbody>";

              $("#list_table_json").append(msg_data);
            },
            error: function (err) {
              console.log(err);
            },
          });
        });
      });
    </script>
  </body>
</html>
