<!DOCTYPE html>
<html lang="en" th:inline="text">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="jsmodules"></div>
    <style>
      body {
        background: url(/img/wallpaper.jpg) no-repeat;
        background-color: black;
        background-size: 100vw;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      footer {
        min-height: 100px;
        background: PapayaWhip;
      }
      article {
        flex: 1;
      }
    </style>
    <title>使用條款</title>
  </head>

  <body>
    <div th:replace="@{component/navbar}"></div>

    <article>
      <!-- 網站內文放這裡 -->
      <div class="w-50 mx-auto bg-light my-3 rounded-3 p-2">
        <h1>使用條款</h1>
        <br />

        <p>
          本公司致力於遵守保護個人資料的相關法令及本公司隱私保護政策，妥善管理和保護用戶的隱私權。
          本公司以合法公正的方法取得個人資料。
          本公司依照法律告知蒐集目的，除法律另有規定外，本公司僅在下述蒐集目的範圍内使用個人資料。
          本公司採取必要且適當的措施以安全管理取得之個人資料。
          除下述告知範圍或法律另有規定外，本公司不會將個人資料提供給第三人。
          本公司在接獲顧客本人提出個人資料的確認、修正、停止使用、刪除等相關要求時，將會依法妥適處理。
          若您的會員帳號密碼遭到冒用，請撥打客服專線或是經由客服信箱聯絡本公司，公司將依照您的請求處理您的帳號。（如停止使用或刪除等相關要求）
          另本公司應於知悉您帳號密碼被冒用時，立即暫停該帳號所生交易之處理及後續利用。
          本網站使用通行標準的TLS（傳輸層安全協定）保護系統，您的個人資訊傳輸受到加密以保障安全性。
          當您於本網站輸入個人資料完成活動參加程序或開始使用本服務時，
          即視為您已清楚瞭解並同意以下本公司蒐集、處理或利用您個人資料之目的及用途
          個人資料權益告知
        </p>
        <p>
          Finalpretty有限公司（以下稱「本公司」）依據個人資料保護法（以下稱「個資法」）第八條第一項規定，向您告知下列事項，敬請詳閱：
          蒐集之目的：本公司依下列特定目的，蒐集您的個人資料： 顧客相關個人資料
          契約、類似契約或其他法律關係事務 消費者、客戶管理與服務 行銷
          資（通）訊與資料庫管理 網路購物及其他電子商務服務
          其他經營合於營業登記項目或組織章程所定之業務 為提供本公司商品或服務
          為回覆您的詢問 為提升本公司服務品質 為提供本公司商品或服務資訊
          應徵者相關個人資料
          錄用、徵才活動之應徵者的聯絡及有關本公司運營及錄取訊息提供
          將徵才過程的記錄作為對求職者的資料管理 職員相關個人資料
          人事管理(包含徵才、錄用活動、離職及所屬員工基本資訊、現職、學經歷、薪資待遇、差勤、福利措施或其他人事措施)
          全民健康保險、勞工保險或其他社會保險、團體保險 健康管理
          個人資料之類別：本公司將收集您的下列個人資料，以便提供服務：
          姓名、性別、出生日期、地址、電話、電子郵件地址等，足以辨識您的身分，以便提供服務的個人資料。
          其他依法應蒐集之資料類別（例如：稅捐稽徵法規定，顧客於辦理退貨時，應提出銷貨退回單，並填載相關個人資料）
          個人資料利用之期間、地區、對象及方式： 期間：
          特定目的之存續期間，或依法、依約應予保留之保存年限（如：商業會計法等），以最晚屆至者為準。
          對象：本公司、本公司日本總公司、國內外迅銷集團關係企業、信用卡公司、金融聯合徵信中心、業務委外單位、未受中央目的事業主管機關限制之國際傳輸個人資料之接收者、依法有調查權機關或金融監理機關。
          地區：中華民國境內及前揭利用對象之所在地。 方式：
          以自動化機器或其他非自動化之利用方式
        </p>

        <p>
          依據個資法第三條規定，您得就本人之個人資料，要求：
          查詢、閱覽或製給複製本，但應以書面向本公司提出請求。本公司應以書面通知請求人准駁之理由，並得酌收必要成本費用。
          補充或更正，但您必須為適當之釋明。本公司應以書面通知請求人准駁之理由。
          停止蒐集、處理或利用，或予以刪除，但本公司依法因執行業務所必須者，不在此限。
          委託代理人提供上開請求者，應提出相關委任文件供本公司確認及審核。
          本公司制式申請書，請撥打客服專線或是經由客服信箱索取。
          不提供個人資料所致權益之影響：
          您得自由選擇是否提供個人資料，不過，倘若您拒絕提供必要之個人資料，可能會影響本公司提供有關之服務。
          ＊ 有關Cookie的使用
          將訪問網站的訪客訊息在電腦（硬碟驅動器）上進行登記管理的技術被稱作"Cookie"。在本公司的網站中，為了客戶更方便地使用本公司的網站，有使用Cookie技術的頁面。通過瀏覽器改變Cookie的使用設定從而拒絕使用Cookie時，可能導致商品的購買等部分或全部服務無法利用。另外，在不能確定具體個人的情況下，為了調查客戶的網站使用情況，我們使用Cookie技術。
          ＊ 您投稿或提供至本公司網站、行動應用程式等作品之行銷廣告利用
          您投稿或因參加活動而提供本公司之作品，如涉及肖像權、著作權等相關智慧財產權，皆歸屬於投稿或提供作品之創作人本人，但經由投稿或參加活動而提供予本公司者，視為同意授權本公司於全世界無償且非專屬授權使用(含重製、公開、傳輸、散佈、轉讓、借貸、翻譯、改作等)或再授權第三人使用之權利。著作人並同意不對本公司主張著作人格權。
        </p>
      </div>
    </article>

    <footer>
      <div th:replace="component/footer"></div>
    </footer>
  </body>
</html>
