<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>訂單明細</title>
    <div th:replace="jsmodules"></div>
  </head>
  <body th:inline="text">
    <div th:replace="component/chatbubble"></div>
    <div th:replace="component/backendNavbar :: backendNavbar"></div>
    <div id="cons"></div>
    <script>
      var settings = {
        url: "http://localhost:8082/public/findByFKOrderId/1",
        method: "GET",
        timeout: 0,
      };

      $.ajax(settings).done(function (response) {
        console.log(response);
        var str =
          "<table class='table' ><tr><th scope='col'>商品名稱</th><th>商品數量</th><th>商品金額</th></tr>";
        for (let i of response) {
          str += "<tr><td>" + i.product_name + "</td>";
          str += "<td>" + i.count + "</td>";
          str += "<td>" + i.total + "</td></tr>";
        }
        str += "</table>";
        $("#cons").html(str);
      });
    </script>
  </body>
</html>
