<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Food</title>
    <div th:replace="jsmodules"></div>
    <script defer th:src="@{/js/hello.js}"></script>
  </head>

  <body th:inline="text">
    <div th:replace="component/backendNavbar :: backendNavbar"></div>
    <div>
      <a
        class="btn btn-dark"
        style="background-color: #f45b69"
        href="/food/manage"
        >取消修改</a
      >
    </div>

    <div class="container-lg">
      <div class="" style="width: 50%; margin: 20px auto">
        <!-- <div th:if="${username} != null">
          <h1>您好，管理者<span th:text="${username}"></span></h1>
        </div> -->

        <h1>修改食物</h1>
        <div class="container-lg" style="width: 800px" th:fragment="form">
          <form
            th:object="${food}"
            th:action="@{/food/edit}"
            method="post"
            enctype="multipart/form-data"
          >
            <div>
              食物圖片:<img
                th:src="@{'/showFoodImage/'+${food.food_id}}"
                height="40px"
                class=""
                alt=""
                loading="lazy"
                itemprop="image"
              />
              <input
                class="form-control"
                type="file"
                placeholder="請加入圖片"
                name="picture"
              />
              <br />
              食物名稱:<input
                type="text"
                name="foodname"
                th:field="*{foodname}"
              /><br />
              熱量:<input
                type="text"
                name="calorie"
                th:field="*{calorie}"
              /><br />
              <input th:field="*{food_id}" type="hidden" />
              <button type="reset" class="btn btn-secondary">重置</button>
              <button type="submit" class="signupbtn btn btn-primary">
                送出
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
