<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chart.js</title>
    <!-- 利用th:insert 或是 th:replace 來載入模板 -->
    <div th:replace="jsmodules"></div>
  </head>
  <body>
    <div th:replace="component/navbar :: navbar"></div>
    <div width="300px" height="400px" class="container">
      <div style="width: 400px" class="row pt-5">
        <canvas style="height: 20px" id="canvas-1" class="col-sm-12"></canvas>
      </div>
      <div class="row pt-5">
        <canvas id="canvas-2" class="col-sm-12"></canvas>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
      integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script>
      var ctx1 = document.getElementById("canvas-1"),
        ctx2 = document.getElementById("canvas-2");

      var data = {
        labels: ["一月", "二月", "三月", "四月", "五月", "六月", "七月"], // X軸名稱
        datasets: [
          // datasets是陣列，每個陣列代表一個資料類型
          {
            label: "體脂", // Y軸的名稱
            data: [33, 29, 37, 48, 44, 54, 60], // Y軸的值
            fill: true,
            backgroundColor: "rgba(31,119,180,0.5)",
            borderColor: "#1f77b4",
            lineTension: 0,
          },
        ],
      };

      var myChart1 = new Chart(ctx1, {
        type: "line", //設定為柱狀圖
        data: data,
      });

      var myChart2 = new Chart(ctx2, {
        type: "line", //設定為柱狀圖
        data: {
          labels: ["一月", "二月", "三月", "四月", "五月", "六月", "七月"], // X軸名稱
          datasets: [
            // datasets是陣列，每個陣列代表一個資料類型
            {
              label: "芒果電腦", // Y軸的名稱
              data: [33, 29, 37, 48, 44, 54, 60], // Y軸的值
              backgroundColor: "rgba(31,119,180,0.2)",
              borderColor: "#1f77b4",
              lineTension: 0,
            },
            {
              label: "三叔", // Y軸的名稱
              data: [24, 27, 44, 34, 44, 59, 59], // Y軸的值
              backgroundColor: "rgba(255,127,14,0.2)",
              borderColor: "#ff7f0e",
              fill: true,
              lineTension: 0,
            },
          ],
          opt,
        },
      });
    </script>
  </body>
</html>
