<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
    <!-- 利用th:insert 或是 th:replace 來載入模板 -->
    <div th:replace="jsmodules"></div>
    <!-- 利用th:href來引入css , 地址使用 @{} 為static資料夾下 -->
    <link rel="stylesheet" th:href="@{/css/hello.css}" />
    <!-- defer 屬性可以將js檔案 放在head標籤內而正常運行-->
    <!-- script 原本的src屬性改爲使用 th:src-->
    <script defer th:src="@{/js/hello.js}"></script>
  </head>
  <body th:inline="text">
    <!-- 引入的片段 以 :: 來標示 -->
    <div th:replace="component/navbar :: navbar"></div>

    <div class="container-lg">
      <!-- 在標籤內加上 th:fragment 來標明模板片段 -->
      <div th:fragment="form">
        <!-- form 表單 action屬性改為使用 th:action -->
        <form
          class=""
          method="post"
          id="registerForm"
          action="#"
          th:action="@{/hello}"
        >
          <div class="" style="width: 50%; margin: 20px auto">
            <!-- th:if 搭配 th:text 來顯示內容 -->
            <div th:if="${username} != null">
              <!-- 以下等同： <h1>您好，<span th:text="${username}"></span></h1> -->
              <h1>您好，[[${username}]]</h1>
            </div>
            <div th:if="${loginusername} != null">
              <!-- 以下等同： <h1>您好，<span th:text="${username}"></span></h1> -->
              <h1>您好，[[${loginusername}]]</h1>
            </div>
            <h1 th:text="${map['message']}">註冊頁面123</h1>
            <p>請輸入資料來註冊帳號</p>
            <hr />
            <div class="input-group mb-3">
              <span class="input-group-text">姓名</span>
              <input
                class="form-control"
                type="text"
                placeholder="姓"
                name="firstName"
                required
              />
              <input
                class="form-control"
                type="text"
                placeholder="名"
                name="lastName"
                required
              />
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="請輸入email"
                name="email"
                required
              />
              <label for="email" class="form-label"><b>Email</b></label>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="password"
                placeholder="請輸入密碼"
                name="password"
                required
              />
              <label for="psw" class="form-label"><b>Password</b></label>
            </div>
            <div class="form-floating mb-3">
              <input
                class="form-control"
                type="password"
                placeholder="請重複輸入密碼"
                name="psw-repeat"
                required
              />
              <label for="psw-repeat" class="form-label"
                ><b>請輸入密碼</b></label
              >
            </div>

            <label>
              <input
                type="checkbox"
                checked="checked"
                name="remember"
                style="margin-bottom: 15px"
              />
              記住我
            </label>

            <p><br /><span id="formResponse" style="color: red"></span></p>

            <!-- data-bs-dismiss="modal" 
              clearfix
              -->
            <div class="">
              <button type="reset" class="btn btn-secondary">重置</button>
              <button type="submit" class="signupbtn btn btn-primary">
                送出
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- 引入CKEditor -->
    <div class="container-lg" style="width: 800px">
      <form action="#" th:action="@{/editorResult}" method="post">
        <textarea name="content" id="editor"></textarea>
        <button type="reset">重置</button>
        <button type="submit">送出</button>
      </form>
    </div>
  </body>
</html>
