<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
    <div th:replace="jsmodules"></div>
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}" />
    <script defer th:src="@{/js/hello.js}"></script>
    <div th:replace="jsmodules"></div>
    <style>
      body {
        background: url(/img/wallpaper.jpg) no-repeat;
        background-color: black;
        background-size: 100vw;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      footer {
        min-height: 100px;
        background: PapayaWhip;
      }
      article {
        flex: 1;
      }
    </style>
  </head>
  <body>
    <div th:replace="component/navbar.html"></div>

    <article>
      <!-- 網站內文放這裡 -->
      <h1 class="text-2xl text-red-400 text-center">hello tailwind!</h1>
    </article>

    <footer>
      <div th:replace="component/footer"></div>
    </footer>
  </body>
</html>
