<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Categories</title>
    <div th:replace="jsmodules"></div>
    <link rel="stylesheet" th:href="@{/css/videoCategories.css}" />
    <style>
      body {
        background-color: black;
        background-size: 100vw;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      footer {
        min-height: 100px;
        background: PapayaWhip;
      }
      article {
        flex: 1;
      }
      span {
        color: #fff;
      }
      h2 {
        color: #fff;
      }
    </style>
  </head>

  <body>
    <div th:replace="component/navbar :: navbar"></div>

    <article>
      <br />
      <div class="container-lg">
        <!-- ------------------------------------------------------------------------------- -->
        <div class="d-flex" style="width: 800px; margin: 0 auto">
          <input
            id="fuzzySearch"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            style="width: 800px"
          />
          <div class="dropdown">
            <button
              id="fuzzySearchbtn"
              class="btn"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i style="color: white" class="bi bi-search"></i>
            </button>
          </div>
        </div>
        <br />
        <!-- ------------------------------------------------------------------------------- -->
        <div id="page">
          <div data-hicms-tmpl="index3_course_action">
            <div
              id="header"
              class="but1"
              onclick="location.href='/public/video/type/胸肌';"
              style="background-image: url('/img/body_parts/chest.png')"
            >
              胸肌
            </div>

            <div
              id="header"
              class="but1"
              onclick="location.href='/public/video/type/背肌';"
              style="background-image: url('/img/body_parts/back.png')"
            >
              背肌
            </div>

            <div
              id="header"
              class="but1"
              onclick="location.href='/public/video/type/腿肌';"
              style="background-image: url('/img/body_parts/leg.png')"
            >
              腿肌
            </div>

            <div
              id="header"
              class="but1"
              onclick="location.href='/public/video/type/肩膀';"
              style="background-image: url('/img/body_parts/shoulder.png')"
            >
              肩膀
            </div>
            <p></p>
            <div
              id="header"
              class="but2"
              onclick="location.href='/public/video/type/腹部';"
              style="background-image: url('/img/body_parts/abs.png')"
            >
              腹部
            </div>

            <div
              id="header"
              class="but2"
              onclick="location.href='/public/video/type/手臂';"
              style="background-image: url('/img/body_parts/arm.png')"
            >
              手臂
            </div>

            <div
              id="header"
              class="but2"
              onclick="location.href='/public/video/type/有氧';"
              style="background-image: url('/img/body_parts/aerobics.png')"
            >
              有氧
            </div>

            <div
              id="header"
              class="but2"
              onclick="location.href='/public/video/type/伸展';"
              style="background-image: url('/img/body_parts/stretch.png')"
            >
              伸展
            </div>
          </div>
        </div>
      </div>
    </article>
    <script>
      //模糊搜尋
      const fuzzySearch = document.getElementById("fuzzySearch");
      const fuzzySearchbtn = document.getElementById("fuzzySearchbtn");
      const fuzzySearchend = document.getElementById("page");

      fuzzySearchbtn.addEventListener("click", (e) => {
        postdata(
          "http://localhost:8082/public/api/video/fuzzySearch",
          { likeTest: `${fuzzySearch.value}` },
          (result) => {
            var str = "";
            str += `<div class="row row-cols-1 row-cols-md-2 g-4">`;
            result.forEach((el) => {
              str += `<tr>
            <div
              class="card"
              style="
                width: 18rem;
                margin: 10px;
                background-color: black;
                border-style: solid;
                border-color: white;
              "
            >
              <a href="/public/video/show?video_id=${el.video_id}">
                <img
                  src="/public/showVideoImage/${el.video_id}"
                  class="card-img-top"
                  alt="..."
                  loading="lazy"
                  itemprop="image"
                />
              </a>
              <div class="card-body">
                <h2
                  class="entry-title"
                  itemprop="headline"
                >${el.title}</h2>
                <p class="card-text">
                  <span class="card-text">訓練肌群:</span
                  ><span class="card-text">${el.body_parts}</span>
                  <span class="card-text" style="float: right"
                    >觀看數:<span
                      class="card-text"
                      style="float: right"
                    >${el.views}</span
                  ></span>
                </p>
              </div>
            </div>
          </tr>`;
            });
            str += `</div>`;
            fuzzySearchend.innerHTML = str;
          }
        );
      });
    </script>
    <footer>
      <div th:replace="component/footer"></div>
    </footer>
  </body>
</html>
