<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Video</title>
    <div th:replace="jsmodules"></div>
    <link rel="stylesheet" th:href="@{/css/videoCategories.css}" />
    <style>
      .top {
        width: 100%;
        margin-top: 76px;
      }
    </style>
  </head>

  <body>
    <div th:replace="component/navbar :: navbar"></div>
    <div class="container-lg">
      <br />
      <video
        style="width: 100%; height: 100%"
        controls="controls"
        preload="auto"
        autoplay="true"
        loop="loop"
      >
        <source th:src="@{'/public/video/'+${video.url}}" type="video/mp4" />
        您的瀏覽器不支援此 HTML5 影片標籤
      </video>
    </div>
    <!-- <h2 class="entry-title" itemprop="headline">
      <a rel="bookmark" th:text="${video.title}"></a>
    </h2>
    <span class="posted-on">
      <time
        class="entry-date published"
        th:text=""
        itemprop="datePublished"
      ></time
    ></span>
    <a href="/">
      <img
        th:src=""
        height="40px"
        class="attachment-full size-full wp-post-image"
        alt=""
        loading="lazy"
        itemprop="image"
      />
    </a>
    <p id="resulthtml" th:text=""></p>
    <script>
      const resulthtml = document.querySelector("#resulthtml");
      resulthtml.innerHTML = resulthtml.innerText;
    </script> -->
  </body>
</html>
