<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Video</title>
    <div th:replace="jsmodules"></div>
    <link rel="stylesheet" th:href="@{/css/videoCategories.css}" />
    <style>
      .top {
        width: 100%;
        margin-top: 76px;
      }
    </style>
  </head>

  <body>
    <div th:replace="component/navbar :: navbar"></div>
    <input id="video" th:field="${video.video_id}" type="hidden" />
    <div class="container-lg">
      <br />
      <video
        style="width: 1000px"
        controls="controls"
        preload="auto"
        autoplay="true"
        loop="loop"
      >
        <source th:src="@{'/public/video/'+${video.url}}" type="video/mp4" />
        您的瀏覽器不支援此 HTML5 影片標籤
      </video>
      <!-- clearfix -->
      <div class="">
        <span
          sec:authorize="isAuthenticated()"
          class="gb-headline gb-headline-77ec9488 gb-headline-text"
        >
          <span id="sapn" th:name="${bool}" th:if="${bool} eq 'true'">
            <img
              name="cleanAll"
              id="idimg1"
              th:src="@{/img/other/chngstar.gif}"
            />
          </span>
          <span th:if="${bool} eq 'false'">
            <img name="cleanAll" id="idimg1" th:src="@{/img/other/star.gif}" />
          </span>
        </span>

        <p>觀看數:<span id="" th:text="${video.views}"></span></p>
      </div>
    </div>
    <!-- <h2 class="entry-title" itemprop="headline">
      <a rel="bookmark" th:text="${video.title}"></a>
    </h2>
    <span class="posted-on">
      <time
        class="entry-date published"
        th:text=""
        itemprop="datePublished"
      ></time
    ></span>
    <a href="/">
      <img
        th:src=""
        height="40px"
        class="attachment-full size-full wp-post-image"
        alt=""
        loading="lazy"
        itemprop="image"
      />
    </a>
    <p id="resulthtml" th:text=""></p>
    <script>
      const resulthtml = document.querySelector("#resulthtml");
      resulthtml.innerHTML = resulthtml.innerText;
    </script> -->

    <script>
      $("img[name='cleanAll']").click(function (e) {
        var video = $("#video").val();
        console.log(video);
        var settings = {
          url: "http://localhost:8082/video/like/" + video,
          method: "POST",
          timeout: 0,
          headers: {
            "Content-Type": "application/json",
          },
          data: JSON.stringify({}),
        };
        $.ajax(settings).done(function (response) {
          console.log(response);
        });
      });

      $("img[name='cleanAll']").dblclick(function (e) {
        var video = $("#video").val();
        // console.log(member);
        // console.log(article);
        var settings = {
          url: "http://localhost:8082/video/delike/" + video,
          method: "POST",
          timeout: 0,
          headers: {
            "Content-Type": "application/json",
          },
          data: JSON.stringify({}),
        };
        $.ajax(settings).done(function (response) {
          console.log(response);
        });
      });

      let picture = document.getElementById("idimg1");
      document.addEventListener("DOMContentLoaded", function () {
        picture.addEventListener("click", Click);
        var modals = document.getElementById("idimg1");
        modals.addEventListener("dblclick", clean);
      });

      function Click() {
        picture.removeEventListener("click", Click);
        picture.src = "/img/other/chngstar.gif";
      }

      function clean() {
        picture.src = "/img/other/star.gif";
        picture.addEventListener("click", Click);
        var modals = document.getElementById("idimg1");
        modals.addEventListener("dblclick", clean);
      }
    </script>
  </body>
</html>
