<!DOCTYPE html>
<html lang="en">
    <style>
        .container-lg{
            text-align: center;
            margin: 0;
            padding: 0;
            /* background-color: brown; */
        }
    </style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <!-- 利用th:insert 或是 th:replace 來載入模板 -->
    <div th:replace="jsmodules"></div>
    <!-- 利用th:href來引入css , 地址使用 @{} 為static資料夾下 -->
    <link rel="stylesheet" th:href="@{/css/hello.css}" />
    <!-- defer 屬性可以將js檔案 放在head標籤內而正常運行-->
    <!-- script 原本的src屬性改爲使用 th:src-->
    <script defer th:src="@{/js/hello.js}"></script>
</head>

<body>
    <div th:replace="component/backendNavbar :: backendNavbar"></div>
    <div>
        <a class="btn btn-dark" style="background-color:#F45B69;" href="/video/add">新增影片</a>
    </div>
    <div class="container-lg" >
        <img src="https://64.media.tumblr.com/c89d515f99cb91356e3e27092342cf59/3b9790ce2e5bb480-34/s500x750/cf14a0149f8024eedb4816c732917cc2a8373de3.gifv"
            alt="" />
    </div>
</body>

</html>