<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>會員管理</title>
	
	<!-- 利用th:insert 或是 th:replace 來載入模板 -->
    <div th:replace="jsmodules"></div>
    
</head>

<body>

	<div th:replace="component/backendNavbar :: backendNavbar"></div>
    <!-- FIXME:style標籤記得要加“”  -->
    <div style=width:100%;margin:0 auto;font-size:13px;>
    	
    	<div style=background-color:yellow;width:500px;height:400px;text-align:center;float:left;>
			<br>
			<a th:href="@{/member/add}">新增會員</a>
			<p></p>
			<a th:href="@{/member/manage}">所有會員</a>
			<br>
		</div>
    	
    	<div style=background-color:#F2FFF2;margin-left:500px;height:400px;text-align:center;>
	        
        </div>

    </div>


</body>
</html>