<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div th:replace="jsmodules"></div>

    <title>會員資料輸入</title>
</head>

<body>

    <div th:replace="component/navbar :: navbar"></div>

    <div class="container-lg" style="width: 50%; margin: 20px auto">

        <h1>會員資料輸入</h1>
        <div class="container-lg" style="width: 800px;" th:fragment="form">
            <form th:action="@{/member/inputpage}" method="post" enctype="multipart/form-data">
                <!-- <div class="form-floating mb-3">
                            <input class="form-control" type="file" placeholder="請加入圖片" name="picture" />
                        </div> -->
                <!-- <div class="form-floating mb-3">
                            <input class="form-control" type="text" placeholder="帳號" name="title" required />
                            <label for="title" class="form-label"><b>帳號</b></label>
                        </div> -->
                <!-- <div class="form-floating mb-3">
                            <input class="form-control" type="password" placeholder="密碼" name="title" required />
                            <label for="title" class="form-label"><b>密碼</b></label>
                        </div> -->
                <!-- <div class="form-floating mb-3">
                            <input class="form-control" type="email" placeholder="電子郵件" name="title" required />
                            <label for="title" class="form-label"><b>電子郵件</b></label>
                        </div> -->
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" placeholder="性別" name="gender" required />
                    <label for="gender" class="form-label"><b>性別</b></label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" placeholder="年齡" name="age" required />
                    <label for="age" class="form-label"><b>年齡</b></label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" placeholder="身高" name="height" required />
                    <label for="height" class="form-label"><b>身高</b></label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" placeholder="體重" name="weight" required />
                    <label for="weight" class="form-label"><b>體重</b></label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" placeholder="體脂肪" name="bodyFat" required />
                    <label for="bodyFat" class="form-label"><b>體脂肪</b></label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" placeholder="內臟脂肪" name="visceralFat" required />
                    <label for="visceralFat" class="form-label"><b>內臟脂肪</b></label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" placeholder="肌肉量" name="muscleMass" required />
                    <label for="muscleMass" class="form-label"><b>肌肉量</b></label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" placeholder="VIP" name="becomeVIP" value="0" required />
                    <label for="becomeVIP" class="form-label"><b>VIP</b></label>
                </div>

                <button type="reset" class="btn btn-secondary">重置</button>
                <button type="submit" class="signupbtn btn btn-primary">儲存</button>
            </form>
        </div>
    </div>

















</body>

</html>