<!DOCTYPE html>
<html lang="en" th:inline="text">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <div th:replace="jsmodules"></div>
  <style>
    body {
      background: url(/img/wallpaper.jpg) no-repeat;
      background-color: black;
      background-size: 100vw;
      min-height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    footer {
      min-height: 100px;
      background: PapayaWhip;
    }

    article {
      flex: 1;
    }
  </style>
</head>

<body>
  <div th:replace="@{component/navbar}"></div>
  <div th:replace="component/chatbubble"></div>

  <article>

    <div th:replace="component/navbar :: navbar"></div>

    <div class="container-lg" style="width: 50%; margin: 20px auto">

      <h1 style="color:white">會員資料修改</h1>
      <!-- <div>[[${member.member_id}]]</div> -->
      <div class="container-lg" style="width: 800px;" th:fragment="form">
        <form th:object="${member}" th:action="@{/member/edit}" method="post" enctype="multipart/form-data">

          <div class="form-floating mb-3">
            <input id="inputPhotoToLoad" class="form-control" type="file" placeholder="圖片" name="photo" />
            <label for="photo" class="form-label"><b>圖片</b></label>
            <img id="member_img" style="width: 150px; border-radius: 10px 10px 10px 10px; margin-left: 50px;" />
          </div>

          <div class="form-floating mb-3">
            <input class="form-control" type="text" placeholder="暱稱" name="nickname" th:field="*{nickname}" />
            <label for="nickname" class="form-label"><b>暱稱</b></label>
          </div>
          <!-- <div class="form-floating mb-3">
            <input class="form-control" type="text" placeholder="性別" name="gender" th:field="*{gender}" />
            <label for="gender" class="form-label"><b>性別</b></label>
          </div> -->
          <fieldset class="form-group" style="color:white">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0"><b>性別</b></legend>
              <div class="col-sm-10" style="text-align:left">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="male" name="gender" value="1" class="custom-control-input">
                  <label class="custom-control-label" for="male">男</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="female" name="gender" value="0" class="custom-control-input">
                  <label class="custom-control-label" for="female">女</label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-floating mb-3">
            <input class="form-control" type="number" placeholder="年齡" name="age" th:field="*{age}" />
            <label for="age" class="form-label"><b>年齡</b></label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="number" step="0.1" placeholder="身高" name="height" th:field="*{height}" />
            <label for="height" class="form-label"><b>身高</b></label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="number" step="0.1" placeholder="體重" name="weight" th:field="*{weight}" />
            <label for="weight" class="form-label"><b>體重</b></label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="number" step="0.1" placeholder="體脂肪" name="bodyFat"
              th:field="*{bodyFat}" />
            <label for="bodyFat" class="form-label"><b>體脂肪</b></label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="number" step="0.1" placeholder="內臟脂肪" name="visceralFat"
              th:field="*{visceralFat}" />
            <label for="visceralFat" class="form-label"><b>內臟脂肪</b></label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="number" step="0.1" placeholder="肌肉量" name="muscleMass"
              th:field="*{muscleMass}" />
            <label for="muscleMass" class="form-label"><b>肌肉量</b></label>
          </div>
          <!-- <div class="form-floating mb-3">
            <input class="form-control" type="text" placeholder="VIP" name="becomeVIP" th:field="*{becomeVIP}" />
            <label for="becomeVIP" class="form-label"><b>VIP</b></label>
          </div> -->
          <fieldset class="form-group" style="display:none; color:white">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0"><b>VIP</b></legend>
              <div class="col-sm-10" style="text-align:left">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="yes" name="becomeVIP" value="1" class="custom-control-input">
                  <label class="custom-control-label" for="yes">是</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="no" name="becomeVIP" value="0" class="custom-control-input" checked>
                  <label class="custom-control-label" for="no">否</label>
                </div>
              </div>
            </div>
          </fieldset>
          <div>
            <input th:field="*{member_id}" type="hidden">
          </div>

          <button type="reset" class="btn btn-secondary">重置</button>
          <button type="submit" class="signupbtn btn btn-warning">送出</button>

        </form>

      </div>

    </div>

  </article>

  <footer>
    <div th:replace="component/footer"></div>
  </footer>

  <script>
    $("#inputPhotoToLoad").change(function () {
      readURL(this);
    });

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#member_img").attr("src", e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>

</body>

</html>