<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div th:replace="jsmodules"></div>

    <title>個人資料</title>
</head>

<body>
    <div th:replace="component/navbar :: navbar"></div>

    <div style="margin-top: 76px;">
        <table>
            <!-- <tr>
                <td>密碼</td>
                <td th:text="${}"></td>
            </tr> -->
            <!-- <tr>
                <td>email</td>
                <td th:text="${}"></td>
            </tr> -->
            <tr>
                <td>性別</td>
                <td th:text="${}"></td>
            </tr>
            <tr>
                <td>年齡</td>
                <td th:text="${}"></td>
            </tr>
            <tr>
                <td>身高</td>
                <td th:text="${}"></td>
            </tr>
            <tr>
                <td>體重</td>
                <td th:text="${}"></td>
            </tr>
            <tr>
                <td>體脂肪</td>
                <td th:text="${}"></td>
            </tr>
            <tr>
                <td>內臟脂肪</td>
                <td th:text="${}"></td>
            </tr>
            <tr>
                <td>肌肉量</td>
                <td th:text="${}"></td>
            </tr>
            <tr>
                <td>VIP</td>
                <td th:text="${}"></td>
            </tr>

        </table>







    </div>


</body>

</html>