<div th:fragment="cart">
  <div
    class="fixed-bottom top-50 d-flex justify-content-end"
    style="height: 80px"
  >
    <a class="mr-3" data-toggle="modal" data-target="#cart">
      <img th:src="@{/img/icon/cart.svg}" alt="" width="50px"
    /></a>
  </div>

  <div
    class="modal fade"
    id="cart"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">購物車</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="show-cart table"></table>
          <div>總金額: $<span class="total-cart"></span></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            關閉
          </button>
          <button id="cleanbtn" class="clear-cart btn btn-danger">
            清空購物車
          </button>

          <button id="nextbtn" class="btn btn-primary">
            <a
              th:href="@{/cartCheck}"
              style="color: white; text-decoration: none"
            >
              下一步
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
