<div th:fragment="chatbubble">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      overflow-y: scroll;
    }

    * {
      box-sizing: border-box;
    }

    /* the style to stop body from scrolling  */
    .disable-scroll {
      overflow: hidden;
    }
    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
      z-index: 100;
      background-color: black;
      border-radius: 500px;
      color: white;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 20px;
      width: 60px;
      height: 60px;
      transition: 0.3s;
    }

    .open-button:hover {
      background-color: #8b5cf6;
    }

    /* The popup chat - hidden by default */
    .chat-popup {
      display: none;
      padding: 0;
      position: fixed;
      bottom: 0;
      right: 100px;
      z-index: 9;
      width: 100%;
      max-width: 350px;
      border-radius: 20px;
      background: #f1f5f9;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    /* Add styles to the form container */

    .chatbox {
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .bg-white {
      background-color: white;
    }
    .container {
    }

    .chat {
      position: relative;
      display: inline-block;
      margin-bottom: 2rem;
      width: 100%;
      gap: 15px;
    }

    .msg {
      position: absolute;
      max-width: 50%;
      word-wrap: break-word;
      padding: 0.5rem;
      border-radius: 10px;
      font-size: 13px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .othermessage {
      border-radius: 1.125rem 1.125rem 1.125rem 0;
      background: #2dd4bf;
      color: #1f2937;
    }

    .selfmessage {
      border-radius: 1.125rem 1.125rem 0 1.125rem;
      right: 0;
      background: #1f2937;
      color: #f1f1f1;
    }

    input:focus {
      outline: none;
    }
  </style>
  <!-- 聊天按鈕 -->
  <button
    id="openbtn"
    class="open-button"
    onclick="toggleForm()"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    title="客服聊天視窗"
  >
    <img th:src="@{/img/icon/chat.svg}" alt="" />
  </button>

  <!-- 彈出視窗 -->
  <div class="chat-popup" id="myForm">
    <div class="d-flex justify-content-between bg-white rounded-top shadow-sm">
      <div class="mx-3 my-1">
        <img
          th:src="@{/img/final-pretty-logo-round.png}"
          alt=""
          width="40px"
          height="40px"
        /><span class="m-3">客服服務聊天室</span>
      </div>

      <span
        id="authusername"
        sec:authorize="isAuthenticated()"
        class="navbar-brand"
        th:text="${#authentication.getPrincipal().getNickname()}"
        hidden
      ></span>
      <span
        id="authusername"
        sec:authorize="isAnonymous()"
        class="navbar-brand"
        th:text="訪客"
        hidden
      ></span>

      <button class="btn" onclick="closeForm()" style="color: black">
        <img th:src="@{/img/icon/close.svg}" alt="" />
      </button>
    </div>
    <div
      class="chatbox"
      id="information"
      style="height: 400px; overflow: scroll"
    ></div>
    <div class="messageinputbox w-100 bg-white border-top">
      <div class="d-flex bg-white rounded justify-content-between">
        <input
          type="text"
          class="border-0 flex-grow-1 mx-2"
          id="content"
          placeholder="想說點什麼..."
          name="msg"
          autofocus
        />
        <button
          id="sharedbtn"
          class="btn"
          onclick="handleClick();"
          type="button"
        >
          <img th:src="@{/img/icon/send.svg}" alt="" />
        </button>
      </div>
    </div>
  </div>

  <script defer th:src="@{/js/websocket.js}"></script>
  <script>
    const myForm = document.getElementById("myForm");
    const input = document.querySelector("#content");
    const openbtn = document.getElementById("openbtn");
    const greetingmessage = `您好~ 請問有什麼我能為您服務的嗎?`;
    let chathasnotopened = true;
    let ischatopen = false;
    function toggleForm() {
      if (ischatopen == false) {
        openForm();
        ischatopen = true;
      } else {
        closeForm();
        ischatopen = false;
      }
    }

    function openForm() {
      myForm.style.display = "block";
      //新增預設歡迎訊息
      if (chathasnotopened) {
        $("#information").append(
          `<div class="chat"><div class="msg othermessage">${greetingmessage}</div></div>`
        );
        chathasnotopened = false;
      }
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }

    input.addEventListener("keypress", function (event) {
      // If the user presses the "Enter" key on the keyboard
      if (event.key === "Enter") {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("sharedbtn").click();
      }
    });
    // 阻止滑鼠在聊天視窗內時 body視窗捲動
    myForm.addEventListener("mouseover", () => {
      document.body.classList.add("disable-scroll");
    });
    myForm.addEventListener("mouseout", () => {
      document.body.classList.remove("disable-scroll");
    });
  </script>
</div>
