<div th:fragment="footer">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Bellota+Text"
  />
  <div id="footerComponent" class="bg-dark" style="bottom: 0">
    <div class="col" id="col-1">
      <ul>
        <li style="font-weight: bold">文章分類</li>
        <li><a href="#0">有氧健身</a></li>
        <li><a href="#0">飲食新知</a></li>
        <li><a href="#0">衛教知識</a></li>
      </ul>
    </div>
    <div class="col" id="col-2">
      <ul>
        <li style="font-weight: bold">線上商城</li>
        <li><a href="#0">食品區</a></li>
        <li><a href="#0">用品區</a></li>
      </ul>
    </div>
    <div class="col" id="col-3">
      <ul>
        <li style="font-weight: bold">關於我們</li>
        <li><a href="#0">發展歷史</a></li>
        <li><a href="#0">聯絡信箱</a></li>
        <li><a href="#0">線上客服</a></li>
      </ul>
    </div>
    <div id="copy">Final pretty 健身網 版權所有 © 2020 All rights reserved</div>
  </div>
</div>
