<style>
  /* CSS */
  .logobtnright {
    font-size: 20px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    /* border-radius: 10px; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .logobtnright:before {
    content: "";
    border: none;
    outline: none;
    background: linear-gradient(
      45deg,
      #fafafa,
      #f5f5f5,
      #e5e5e5,
      #d4d4d4,
      #a3a3a3,
      #737373,
      #525252,
      #404040,
      #262626
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 10px; */
  }

  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .logobtnright:after {
    border: none;
    outline: none;
    background: black;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* border-radius: 15px; */
  }

  .logobtnright:hover {
    background: white;
  }

  /* CSS */
  .button-64 {
    align-items: center;
    background: black;
    border: 0;
    box-shadow: #8b5cf6 0px 0px 30px 4px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
  }

  .button-64:hover {
    /* background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb); */
    background-color: #8b5cf6;
    /* color: #525252; */
    box-shadow: #8b5cf6 0px 0px 20px 1px;
  }

  .button-64 span {
    opacity: 1;
  }
</style>
<div class="position-relative">
  <img th:src="@{/img/logobig.png}" alt="" width="100%" />
  <div
    class="joinbutton d-flex position-absolute justify-content-center w-100"
    style="bottom: 15%"
  >
    <button class="logobtnright mx-5">加入我們</button>
    <a class="button-64 mx-5" th:href="@{/login?tab=register}">
      <span>立即註冊</span>
    </a>
  </div>
</div>
