<style>
  .regispan {
    color: aliceblue;
    animation: changecolor 6s infinite;
  }

  .verispan {
    color: aliceblue;
    animation: changecolor 6s infinite;
    animation-delay: 2s;
  }
  .usespan {
    color: aliceblue;
    animation: changecolor 6s infinite;
    animation-delay: 4s;
  }

  @keyframes changecolor {
    0% {
      color: #8b5cf6;
    }
    33% {
      color: #6b7280;
    }
    66% {
      color: #6b7280;
    }
    100% {
      color: #8b5cf6;
    }
  }
</style>
<div
  class="w-100 text-dark d-flex justify-content-center"
  style="height: 400px"
>
  <div class="my-auto">
    <h1 class="display-1">
      <strong class="">
        <span class="regispan">註冊帳號</span>、<span class="verispan"
          >驗證</span
        >、<span class="usespan">開始使用</span>
      </strong>
    </h1>
    <h3>就是如此簡單</h3>
    <button>哈哈</button>
  </div>
</div>
