<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Success</title>
  </head>

  <body
    leftmargin="0"
    marginwidth="0"
    topmargin="0"
    marginheight="0"
    offset="0"
    style="margin: 0pt auto; padding: 0px; background: #f4f7fa"
  >
    <table
      id="main"
      width="100%"
      height="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#F4F7FA"
    >
      <tbody>
        <tr>
          <td valign="top">
            <table
              class="innermain"
              cellpadding="0"
              width="580"
              cellspacing="0"
              border="0"
              bgcolor="#F4F7FA"
              align="center"
              style="margin: 0 auto; table-layout: fixed"
            >
              <tbody>
                <!-- START of MAIL Content -->
                <tr>
                  <td colspan="4">
                    <!-- Logo start here -->
                    <table
                      class="logo"
                      width="100%"
                      cellpadding="0"
                      cellspacing="0"
                      border="0"
                    >
                      <tbody>
                        <tr>
                          <td colspan="2" height="30"></td>
                        </tr>
                        <tr>
                          <td valign="top" align="center">
                            <a
                              href=""
                              style="
                                display: inline-block;
                                cursor: pointer;
                                text-align: center;
                              "
                            >
                              <img
                                th:src="@{img\finalprettylogo.png}"
                                height="24"
                                width="104"
                                border="0"
                                alt="FINAL PRETTY"
                              />
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" height="30"></td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Logo end here -->
                    <!-- Main CONTENT -->
                    <table
                      width="100%"
                      cellpadding="0"
                      cellspacing="0"
                      border="0"
                      bgcolor="#ffffff"
                      style="
                        border-radius: 4px;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
                      "
                    >
                      <tbody>
                        <tr>
                          <td valign="top" align="center">
                            <div style="margin-top: 40px">
                              <a
                                href=""
                                style="
                                  display: inline-block;
                                  cursor: pointer;
                                  text-align: center;
                                "
                              >
                                <img
                                  src="https://s3.amazonaws.com/app-public/Coinbase-email/boooom.gif"
                                  width="440"
                                  border="0"
                                  alt="Congratulations"
                                  style="border-radius: 4px"
                                />
                              </a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td height="40"></td>
                        </tr>
                        <tr
                          style="font-family: -apple-system,BlinkMacSystemFont,&#39;Segoe UI&#39;,&#39;Roboto&#39;,&#39;Oxygen&#39;,&#39;Ubuntu&#39;,&#39;Cantarell&#39;,&#39;Fira Sans&#39;,&#39;Droid Sans&#39;,&#39;Helvetica Neue&#39;,sans-serif; color:#4E5C6E; font-size:14px; line-height:20px; margin-top:20px;"
                        >
                          <td
                            class="content"
                            colspan="2"
                            valign="top"
                            align="center"
                            style="padding-left: 90px; padding-right: 90px"
                          >
                            <table
                              width="100%"
                              cellpadding="0"
                              cellspacing="0"
                              border="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    valign="bottom"
                                    colspan="2"
                                    cellpadding="3"
                                  >
                                    <img
                                      alt=""
                                      width="80"
                                      src="https://www.coinbase.com/assets/app/succeed-green-dcb087e9c6e5265b4c49f75c9c2e1d08bc894bc54816d9a5a476611f631b2929.png"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                  <td height="30" &nbsp;=""></td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <div
                                      style="
                                        font-size: 22px;
                                        line-height: 32px;
                                        font-weight: 500;
                                        margin-left: 20px;
                                        margin-right: 20px;
                                        margin-bottom: 25px;
                                      "
                                    >
                                      已付款成功,謝謝您!
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="24" &nbsp;=""></td>
                                </tr>
                                <tr>
                                  <td height="1" bgcolor="#DAE1E9"></td>
                                </tr>
                                <tr>
                                  <td height="24" &nbsp;=""></td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <table
                                      style="
                                        width: 100%;
                                        border-collapse: collapse;
                                      "
                                    >
                                      <tbody
                                        style="
                                          border: 0;
                                          padding: 0;
                                          margin-top: 20px;
                                        "
                                      >
                                        <tr>
                                          <td
                                            width="50%"
                                            valign="top"
                                            style="
                                              padding-bottom: 10px;
                                              padding-top: 10px;
                                            "
                                          >
                                            付款方式
                                          </td>
                                          <td
                                            style="
                                              padding-bottom: 10px;
                                              padding-top: 10px;
                                            "
                                          >
                                            Smiles Davis Ba... ******650
                                          </td>
                                        </tr>
                                        <tr>
                                          <td
                                            style="
                                              padding-bottom: 10px;
                                              padding-top: 10px;
                                            "
                                          >
                                            日期
                                          </td>
                                          <td
                                            style="
                                              padding-bottom: 10px;
                                              padding-top: 10px;
                                            "
                                          >
                                            December 08, 2017
                                          </td>
                                        </tr>

                                        <tr>
                                          <td
                                            style="
                                              padding-bottom: 10px;
                                              padding-top: 10px;
                                            "
                                          >
                                            總額
                                          </td>
                                          <td
                                            style="
                                              padding-bottom: 10px;
                                              padding-top: 10px;
                                            "
                                          >
                                            $650
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="24" &nbsp;=""></td>
                                </tr>
                                <tr>
                                  <td height="1" bgcolor="#DAE1E9"></td>
                                </tr>
                                <tr>
                                  <td height="24" &nbsp;=""></td>
                                </tr>
                                <tr>
                                  <td>
                                    <p>
                                      <a
                                        href=""
                                        style="
                                          display: block;
                                          font-size: 16px;
                                          padding: 15px 25px;
                                          background-color: #3c90df;
                                          color: #ffffff;
                                          border: 1px solid #2e7bc4;
                                          border-radius: 4px;
                                          text-decoration: none;
                                          text-align: center;
                                          font-weight: 500;
                                        "
                                        )
                                        >回官網</a
                                      >
                                    </p>
                                    <p
                                      style="
                                        color: #9ba6b2;
                                        font-size: 14px;
                                        line-height: 24px;
                                        text-align: center;
                                      "
                                    >
                                      <a href="" style="color: #2e7bc4"></a>
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="24" &nbsp;=""></td>
                                </tr>
                                <tr>
                                  <td height="1" bgcolor="#DAE1E9"></td>
                                </tr>
                                <tr>
                                  <td height="24" &nbsp;=""></td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <span
                                      style="
                                        color: #9ba6b2;
                                        font-size: 12px;
                                        line-height: 19px;
                                      "
                                    >
                                      <p>一起守護健康 (888) 123-1234.</p>
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="60"></td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Main CONTENT end here -->
                    <!-- PROMO column start here -->

                    <!-- FOOTER start here -->
                    <table
                      width="100%"
                      cellpadding="0"
                      cellspacing="0"
                      border="0"
                    >
                      <tbody>
                        <tr>
                          <td height="10">&nbsp;</td>
                        </tr>
                        <tr>
                          <td valign="top" align="center">
                            <span
                              style="font-family: -apple-system,BlinkMacSystemFont,&#39;Segoe UI&#39;,&#39;Roboto&#39;,&#39;Oxygen&#39;,&#39;Ubuntu&#39;,&#39;Cantarell&#39;,&#39;Fira Sans&#39;,&#39;Droid Sans&#39;,&#39;Helvetica Neue&#39;,sans-serif; color:#9EB0C9; font-size:10px;"
                              >&copy;
                              <a
                                href=""
                                target="_blank"
                                style="
                                  color: #9eb0c9 !important;
                                  text-decoration: none;
                                "
                                >FINAL PRETTY</a
                              >
                              2022
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td height="50">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- FOOTER end here -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
