
     <!-- ----產品1----- -->
     <div th:fragment="prouctcard" class="card  p-1 shadow m-3" style="width: 20rem;" >
      <div th:replace="jsmodules"></div>
        <img
          th:src="@{/img/product/product1.jpg}"
          class="card-img-top"
          alt="..."
        />
        <div th:each="product : ${productlist}">
        <div class="card-body" >
          
          <h5 style="margin: auto;" class="card-title" th:text="${product.title}" ></h5>
          <p class="productPrice" style="color:blue ;" th:text="'$'+${product.price}"></p>
        </div>
        <ul>
          <li class="list-group-item" th:text="${product.text}"></li>
        </ul>
        <div class="card-body" style="margin: auto;">
          <a href="#" class="card-link"><button style="border-radius: 10px;" type="button" class="btn btn-outline-warning"></a>立即結帳</button></a>
          <a href="#" class="card-link"><button style="border-radius: 10px;" type="button" class="btn btn-outline-warning"></a>加購物車</button></a>
        </div>
      
        </div>

      </div>
