<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <div th:replace="jsmodules"></div>
</head>

<body>
    <div th:replace="component/backendNavbar :: backendNavbar"></div>
    <div>
        <a class="btn btn-dark" style="background-color:#F45B69;" href="/article/add">新增文章</a>

        <h1>所有文章</h1>
        <table border="2" width="70%" cellpadding="2">
            <tr>
                <th>編號</th>
                <th>標題</th>
                <th>時間</th>
                <th>圖片</th>
                <th>內文</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>

            <tr th:each="article : ${list}">
                <td th:text="${article.article_id}"></td>
                <td th:text="${article.title}"></td>
                <td th:text="${article.create_date}"></td>
                <td><img th:src="@{'/showImage/'+${article.article_id}}" height="40px"/></td> 
                <td th:text="${article.text}"></td>

                <td>
                    <a href="#"><button type="submit" value="edite">修改</button></a>
                </td>
                <td><a th:onclick="return confirm('確定刪除嗎?')" th:href="@{'/article/delete?article_id='+${article.article_id}}"><button type="submit"
                            value="delete">刪除</button></a>
                </td>
            </tr>
        </table>
</body>

</html>