<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Article</title>
  <div th:replace="jsmodules"></div>
  <script defer th:src="@{/js/hello.js}"></script>
</head>

<body th:inline="text">
  <div th:replace="component/backendNavbar :: backendNavbar"></div>
  <div>
    <a class="btn btn-dark" style="background-color:#F45B69;" href="/article/manage">取消修改</a>
  </div>

  <div class="container-lg">
    

      <div class="" style="width: 50%; margin: 20px auto">
        <!-- <div th:if="${username} != null">
          <h1>您好，管理者<span th:text="${username}"></span></h1>
        </div> -->

        <h1>修改文章</h1>
        <div> [[${article.article_id}]] </div>
        <div class="container-lg" style="width: 800px;" th:fragment="form" >

        <form th:object="${article}" th:action="@{/article/edit}" method="post" enctype="multipart/form-data">
        <div>
          文章封面:<img th:src="@{'/showImage/'+${article.article_id}}" height="40px"
            class="" alt="" loading="lazy" itemprop="image">
            <input class="form-control" type="file" placeholder="請加入圖片" name="picture"/>
            <br>
            文章標題:<input type="text" name="title" th:field="*{title}"><br>
            內文:<br>
            <textarea  id="editor" name="text" th:text="*{text}"></textarea>
            <input th:field="*{article_id}" type="hidden" />
            <input th:field="*{create_date}" type="hidden" />
            <button type="reset" class="btn btn-secondary">重置</button>
            <button type="submit" class="signupbtn btn btn-primary">送出</button>
      </form>
          <!-- <form th:action="@{/article/edit}" method="post" th:object="${article}">
            文章封面:<img th:src="@{'/showImage/'+${article.article_id}}" height="40px"
            class="" alt="" loading="lazy" itemprop="image">
            <input class="form-control" type="file" placeholder="請加入圖片" name="picture"/>
            <br>
            文章標題:<input type="text" name="title" th:field="${article.title}"><br>
            內文:<br>
            <textarea  id="editor" name="text" th:text="${article.text}"></textarea>
            <input th:field="${article.article_id}" type="hidden" />
            <input th:field="${article.create_date}" type="hidden" />
            <button type="reset" class="btn btn-secondary">重置</button>
            <button type="submit" class="signupbtn btn btn-primary">送出</button>
          </form> -->

                <!-- 利用th:object 將model attribute 與form表單資料綁定 -->
        </div>
      </div>
    </div>
</body>

</html>