<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArticleCategories</title>
    <div th:replace="jsmodules"></div>
    <style>
      .top {
        width: 100%;
        margin-top: 76px;
      }
      .resulthtml {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    </style>
  </head>

  <body th:inline="text">
    <div th:replace="component/navbar :: navbar"></div>
    <!-- <div style="width: 100%; top: 76px"></div> -->
    <div class="top">
      <h1>所有文章</h1>
      <div class="container-lg" style="margin: 20px auto">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <tr th:each="article : ${list}">
            <!-- <article id=""
				class="post-4233 post type-post status-publish format-standard has-post-thumbnail hentry category-all category-experience category-weight-loss category-nutrition generate-columns tablet-grid-50 mobile-grid-100 grid-parent grid-33"
				itemtype="" itemscope="">
				<div class="">
					<div class="">
						<a th:href="@{'/article/show?article_id='+${article.article_id}}">
							<img th:src="@{'/showImage/'+${article.article_id}}" height="40px"
								class="attachment-full size-full wp-post-image" alt="" loading="lazy"
								itemprop="image">
						</a>
					</div>
					<header class="entry-header" aria-label="內容">
						<h2 class="entry-title" itemprop="headline"><a
							th:href="@{'/article/show?article_id='+${article.article_id}}" rel="bookmark" th:text="${article.title}"></a></h2>
						<div class="entry-meta">
							<span class="posted-on"><time class="entry-date published"
								th:text="${article.create_date}"
									itemprop="datePublished">2022-03-16</time></span> <span class="byline"></a></span></span>
						</div>
					</header>
					<div class="entry-summary" itemprop="text">
						<p th:text="${article.text}"></p>
						<p class="read-more-container"><a title="" class="read-more button"
							th:href="@{'/article/show?article_id='+${article.article_id}}"
								aria-label="/">Read more</a></p>
					</div>
				</div>
			</article> -->

            <div class="card" style="width: 18rem; margin: 10px">
              <img
                th:src="@{'/showImage/'+${article.article_id}}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title" th:text="${article.title}"></h5>
                <!-- class="d-inline-block text-truncate" -->
                <!-- id="resulthtm2" -->
                <p
                  class="resulthtml"
                  style="max-width: 230px"
                  th:text="${article.text}"
                ></p>
                <!-- class="card-text d-inline-block" -->
                <a
                  th:href="@{'/article/show?article_id='+${article.article_id}}"
                  class="btn btn-primary"
                  >Read more</a
                >
              </div>
            </div>
            <!-- <div class="card">
				<div class="pic">
				  <img th:src="@{'/showImage/'+${article.article_id}}"></div>
				<div class="card-header" th:text="${article.create_date}"></div>
				<div class="card-body">
				<h3 class="title" th:text="${article.title}"></h3>
			  </div>
			  <div class="card-footer">
				<p class="text" th:text="${article.text}"></p>
			  </div>
			</div> -->
          </tr>
        </div>
      </div>
    </div>
    <script>
      const resulthtm2 = document.querySelectorAll("#resulthtm2");
      resulthtm2.innerHTML = resulthtm2.innerText;
      for (a of resulthtm2) {
        a.innerHTML = a.innerText;
      }
    </script>
  </body>
</html>
