<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArticleCategories</title>
    <div th:replace="jsmodules"></div>

    <style>
      body {
        background-color: black;
        background-size: 100vw;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      footer {
        min-height: 100px;
        background: PapayaWhip;
      }
      article {
        flex: 1;
      }

      .card-text {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3; /*行數*/
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    </style>
  </head>

  <body th:inline="text">
    <div th:replace="component/navbar :: navbar"></div>
    <div th:replace="component/chatbubble"></div>
    <article>
      <div class="top">
        <!-- ------------------------------------------------------------------------------- -->
        <br />
        <div class="d-flex" style="width: 800px; margin: 0 auto">
          <input
            id="fuzzySearch"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            style="width: 800px"
          />
          <div class="dropdown">
            <button
              id="fuzzySearchbtn"
              class="btn"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i style="color: white" class="bi bi-search"></i>
            </button>
          </div>
        </div>
        <br />
        <div class="container-lg">
          <div
            class="btn-group"
            role="group"
            aria-label="Basic mixed styles example"
            style="float: right"
          >
            <button
              id="hotSearchbtn"
              class="btn btn-danger"
              style="float: right"
            >
              🔥熱門文章
            </button>
            <button
              class="typeSearchbtn btn"
              style="float: right; background-color: #f1d302"
              data-title="減重知識"
            >
              減重知識
            </button>
            <button
              class="typeSearchbtn btn btn-success"
              style="float: right"
              data-title="運動教學"
            >
              運動教學
            </button>
            <button
              class="typeSearchbtn btn"
              style="float: right; background-color: #235789; color: white"
              data-title="飲食營養"
            >
              飲食營養
            </button>
            <button
              class="typeSearchbtn btn"
              #BEEF9E
              style="float: right; background-color: #fdfffc"
              data-title="心得分享"
            >
              心得分享
            </button>
          </div>
          <br />
          <br />

          <!-- ------------------------------------------------------------------------------- -->

          <div id="page">
            <tr th:each="article : ${page}">
              <div class="card mb-3" style="max-width: 100%">
                <div class="row g-0">
                  <div class="col-md-4 bg-black">
                    <img
                      th:src="@{'/public/showArticleImage/'+${article.article_id}}"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8" style="background-color: black">
                    <div class="card-body" style="background-color: black">
                      <h5 class="card-title" style="color: white">
                        [[${article.title}]]
                      </h5>
                      <button>[[${article.type}]]</button>
                      <p id="cleanText" class="card-text" style="color: white">
                        [[${article.text}]]
                      </p>
                      <p class="card-text">
                        <span style="color: white"
                          >觀看數：<span id="views"
                            >[[${article.views}]]</span
                          ></span
                        >
                        <a
                          th:href="@{'/public/article/show?article_id='+${article.article_id}}"
                          class="btn btn-light"
                          style="float: right; vertical-align: bottom"
                          >Read more</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </div>
        </div>
      </div>
    </article>
    <script>
      var myHeaders = new Headers();
      //Ajax 其他文章延遲載入
      var pageNumber = 2;
      function Page() {
        var scrollint = $(window).scrollTop();
        if (
          $(window).height() + $(window).scrollTop() ==
          $(document).height()
        ) {
          var requestOptions = {
            method: "POST",
            redirect: "follow",
          };

          fetch(
            "http://localhost:8082/public/article/categories?p=" + pageNumber,
            requestOptions
          )
            .then((response) => response.json())
            .then((result) => {
              var atc_data = "";
              for (let i of result.content) {
                i.text = i.text.replace(/<[^>]*>/g, "");

                atc_data += `<div class="card mb-3" style="max-width: 100%">
                      <div class="row g-0">
                        <div class="col-md-4 bg-black">
                          <img
                            src="/public/showArticleImage/${i.article_id}"
                            class="img-fluid rounded-start"
                            alt="..."
                          />
                        </div>
                        <div class="col-md-8" style="background-color: black">
                          <div class="card-body" style="background-color: black">
                            <h5 class="card-title" style="color: white">
                              ${i.title}
                            </h5>
                            <button>${i.type}</button>
                            <p id="cleanText" class="card-text" style="color: white">
                              ${i.text}</p>
                            <p class="card-text">
                              <span style="color: white"
                            >觀看數：<span id="views">${i.views}</span></span
                          >
                              <a
                                href="/public/article/show?article_id=${i.article_id}"
                                class="btn btn-light"
                                style="float: right; vertical-align: bottom"
                                >Read more</a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>`;
              }
              $("#page").append(atc_data);
              pageNumber++;
            })
            .catch((error) => console.log("error", error));
        }
      }
      const pa = $(window).scroll(function () {
        Page();
      });

      //消除內文標籤
      const cleanTextList = document.querySelectorAll("#cleanText");
      cleanTextList.forEach(
        (e) => (e.innerHTML = e.innerText.replace(/<[^>]*>/g, ""))
      );

      //模糊搜尋
      const fuzzySearch = document.getElementById("fuzzySearch");
      const fuzzySearchbtn = document.getElementById("fuzzySearchbtn");
      const fuzzySearchend = document.getElementById("page");

      fuzzySearchbtn.addEventListener("click", (e) => {
        pa.unbind();
        postdata(
          "http://localhost:8082/public/api/article/fuzzySearch",
          { likeTest: `${fuzzySearch.value}` },
          (result) => {
            fuzzySearchend.innerHTML = "";
            result.forEach((el) => {
              el.text = el.text.replace(/<[^>]*>/g, "");
              fuzzySearchend.innerHTML += `<div class="card mb-3" style="max-width: 100%">
                      <div class="row g-0">
                        <div class="col-md-4 bg-black">
                          <img
                            src="/public/showArticleImage/${el.article_id}"
                            class="img-fluid rounded-start"
                            alt="..."
                          />
                        </div>
                        <div class="col-md-8" style="background-color: black">
                          <div class="card-body" style="background-color: black">
                            <h5 class="card-title" style="color: white">
                              ${el.title}
                            </h5>
                            <button>${el.type}</button>
                            <p id="cleanText" class="card-text" style="color: white">
                              ${el.text}</p>
                            <p class="card-text">
                              <span style="color: white"
                            >觀看數：<span id="views">${el.views}</span></span
                          >
                              <a
                                href="/public/article/show?article_id=${el.article_id}"
                                class="btn btn-light"
                                style="float: right; vertical-align: bottom"
                                >Read more</a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>`;
            });
          }
        );
      });

      //熱門搜尋
      const hotSearchbtn = document.getElementById("hotSearchbtn");

      hotSearchbtn.addEventListener("click", (e) => {
        pa.unbind();
        var raw = "";

        var requestOptions = {
          method: "POST",
          body: raw,
          redirect: "follow",
        };

        fetch(
          "http://localhost:8082/public/api/article/hotSearch",
          requestOptions
        )
          .then((response) => response.json())
          .then((result) => {
            fuzzySearchend.innerHTML = "";
            result.forEach((el) => {
              el.text = el.text.replace(/<[^>]*>/g, "");
              fuzzySearchend.innerHTML += `<div class="card mb-3" style="max-width: 100%">
                      <div class="row g-0">
                        <div class="col-md-4 bg-black">
                          <img
                            src="/public/showArticleImage/${el.article_id}"
                            class="img-fluid rounded-start"
                            alt="..."
                          />
                        </div>
                        <div class="col-md-8" style="background-color: black">
                          <div class="card-body" style="background-color: black">
                            <h5 class="card-title" style="color: white">
                              ${el.title}
                            </h5>
                            <button>${el.type}</button>
                            <p id="cleanText" class="card-text" style="color: white">
                              ${el.text}</p>
                            <p class="card-text">
                              <span style="color: white"
                            >觀看數：<span id="views">${el.views}</span></span
                          >
                              <a
                                href="/public/article/show?article_id=${el.article_id}"
                                class="btn btn-light"
                                style="float: right; vertical-align: bottom"
                                >Read more</a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>`;
            });
          })
          .catch((error) => console.log("error", error));
      });

      const typeSearchbtn = document.querySelectorAll(".typeSearchbtn");

      typeSearchbtn.forEach((e) => {
        e.addEventListener("click", (e) => {
          pa.unbind();
          var type = e.target.dataset.title;
          console.log(type);
          var requestOptions = {
            method: "POST",
            headers: myHeaders,
            redirect: "follow",
          };
          fetch(
            "http://localhost:8082/public/api/article/typeSearch?type=" + type,
            requestOptions
          )
            .then((response) => response.json())
            .then((result) => {
              console.log(result);
              fuzzySearchend.innerHTML = "";
              result.forEach((el) => {
                el.text = el.text.replace(/<[^>]*>/g, "");
                fuzzySearchend.innerHTML += `<div class="card mb-3" style="max-width: 100%">
                      <div class="row g-0">
                        <div class="col-md-4 bg-black">
                          <img
                            src="/public/showArticleImage/${el.article_id}"
                            class="img-fluid rounded-start"
                            alt="..."
                          />
                        </div>
                        <div class="col-md-8" style="background-color: black">
                          <div class="card-body" style="background-color: black">
                            <h5 class="card-title" style="color: white">
                              ${el.title}
                            </h5>
                            <button>${el.type}</button>
                            <p id="cleanText" class="card-text" style="color: white">
                              ${el.text}</p>
                            <p class="card-text">
                              <span style="color: white"
                            >觀看數：<span id="views">${el.views}</span></span
                          >
                              <a
                                href="/public/article/show?article_id=${el.article_id}"
                                class="btn btn-light"
                                style="float: right; vertical-align: bottom"
                                >Read more</a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>`;
              });
            })
            .catch((error) => console.log("error", error));
        });
      });

      // var views = document.getElementById("views").value;
      // console.log(views);
      // function fire() {
      //   if (views >= 4) {
      //   }
      // }
    </script>

    <footer>
      <div th:replace="component/footer"></div>
    </footer>
  </body>
</html>
