<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShowArticle</title>
    <div th:replace="jsmodules"></div>
    <style>
      .top {
        width: 100%;
        margin-top: 76px;
      }
    </style>
  </head>
  <body>
    <div th:replace="component/navbar :: navbar"></div>
    <div class="top">
      <div class="container-lg">
        <input id="uio" th:field="${article.article_id}" type="hidden" />
        <img
          th:src="@{'/showImage/'+${article.article_id}}"
          height="400px"
          class="attachment-full size-full wp-post-image"
          alt=""
          loading="lazy"
          itemprop="image"
        />
        <h2 class="entry-title" itemprop="headline">
          <a rel="bookmark" th:text="${article.title}"></a>
        </h2>
        <span class="posted-on">
          <time
            class="entry-date published"
            th:text="${article.create_date}"
            itemprop="datePublished"
          ></time>


          <button name='like' >收藏</button>
 

        <p id="resulthtml" th:text="${article.text}"></p>
      </div>
    </div>
    <script>
      const resulthtml = document.querySelector("#resulthtml");
      resulthtml.innerHTML = resulthtml.innerText;

      $("button[name='like']").click(function (e) {
        // var member = $(e.target).attr("id");
        var uio = $("#uio").val()
        console.log(uio);
        // var article = $(e.target).parent().attr("id");
        // console.log(id);
        // console.log(onsale);
        var settings = {
          url: "http://localhost:8082/article/like/" + member + "/" + uio,
          method: "POST",
          timeout: 0,
          headers: {
            "Content-Type": "application/json",
          },
          data: JSON.stringify({}),
        };

        $.ajax(settings).done(function (response) {
          console.log(response);
          if (response.onsale == 1) {
            // console.log($(e.target).prev()[0]);
            // console.log($(e.target).next()[0]);
            $(e.target).parent().attr("id", response.onsale);
            $(e.target).hide().attr("class", "btn btn-success");
            $(e.target).next().show().attr("class", "btn btn-danger");
            $(e.target)
              .parent()
              .prev()
              .find("span")
              .attr("style", "color:green")
              .text("販售中");
          } else if (response.onsale == 0) {
            $(e.target)
              .parent()
              .prev()
              .find("span")
              .attr("style", "color:red")
              .text("下架中");
            $(e.target).parent().attr("id", response.onsale);
            console.log($(e.target).prev()[0]);
            console.log($(e.target).next()[0]);
            $(e.target).hide().attr("class", "btn btn-danger");
            $(e.target).prev().show().attr("class", "btn btn-success");
          }
        });
      });
    </script>
  </body>
</html>
