<!DOCTYPE html>
<html lang="en" th:inline="text">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="jsmodules"></div>
    <title>Control panel</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background: #ffffff;
      }

      .topnav {
        height: 65px;
      }
      .topnav span {
      }

      .left-panel-container {
        z-index: 1;
        background-color: white;
        width: 255px;
        height: 100vh;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      }

      .left-panel-container span {
        color: black;
      }

      .rightsideicons {
        width: 300px;
        background-image: linear-gradient(to right top, #67e8f9, #e0f2fe);
        border-radius: 15px;
      }
      .main-container {
        /* background-image: linear-gradient(to right, #e2e8f0, #e2e8f0); */
        background-color: #f8fafc;
      }

      .tableview {
        height: 500px;
        width: 100%;
        overflow: scroll;
        background-color: #ffffff;
        opacity: 0;
        transition: opacity 0.5s;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li a {
        display: block;
        color: black;
        text-decoration: none;
        padding-left: 10px;
        transition: 0.3s;
        font-size: larger;
      }

      li {
        transition: 0.3s;
      }

      li:hover {
        margin-left: 20px;
      }

      li a:hover {
        color: black;
      }

      .button-48 {
        appearance: none;
        background-color: #ffffff;
        border-width: 0;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 1em;
        margin: 0;
        opacity: 1;
        outline: 0;
        padding: 1.5em 2.2em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-rendering: geometricprecision;
        text-transform: uppercase;
        transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
          background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
          color 100ms cubic-bezier(0.694, 0, 0.335, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;
      }

      .button-48:before {
        animation: opacityFallbackOut 0.5s step-end forwards;
        backface-visibility: hidden;
        background-color: #ebebeb;
        clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateZ(0);
        transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
          -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        width: 100%;
      }

      .button-48:hover:before {
        animation: opacityFallbackIn 0s step-start forwards;
        clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
      }

      .button-48:after {
        background-color: #ffffff;
        border-radius: 4px;
      }

      .button-48 span {
        z-index: 1;
        position: relative;
      }
      .shadow-material {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      }

      /* rainbow border */
      .gradient-border {
        --border-width: 3px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
        font-family: Lato, sans-serif;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: white;
        background: #222;
        border-radius: var(--border-width);
      }
      .gradient-border::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(
          60deg,
          #5f86f2,
          #a65ff2,
          #f25fd0,
          #f25f61,
          #f2cb5f,
          #abf25f,
          #5ff281,
          #5ff2f0
        );
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: calc(2 * var(--border-width));
        animation: moveGradient 4s alternate infinite;
      }
      @keyframes moveGradient {
        50% {
          background-position: 100% 50%;
        }
      }
      .btn-icon-edit {
        background-color: white;
        background: url("[[@{/img/icon/Pencil.svg}]]") no-repeat;
        width: 30px;
        height: 30px;
        border: none;
        transition: 0.2s;
      }
      .btn-icon-edit:hover {
        transform: rotate(45deg);
      }

      .btn-icon-delete {
        background-color: white;
        background: url("[[@{/img/icon/bin.svg}]]") no-repeat;
        width: 30px;
        height: 30px;
        border: none;
      }
      .btn-icon-delete:hover {
        background: url("[[@{/img/icon/bin-hover.svg}]]") no-repeat;
      }
    </style>
  </head>
  <body>
    <!-- 商品選取照片預覽 -->
    <script defer th:src="@{/js/hello.js}"></script>
    <script>
      function loadImageFileAsURL() {
        let filesSelected = document.getElementById("inputFileToLoad").files;
        if (filesSelected.length > 0) {
          let fileToLoad = filesSelected[0];

          let fileReader = new FileReader();

          fileReader.onload = function (fileLoadedEvent) {
            fileDataURL = fileLoadedEvent.target.result;
          };

          fileReader.readAsDataURL(fileToLoad);
        }
      }
    </script>
    <!-- 商品選取照片預覽 -->
    <div class="d-flex">
      <div class="left-panel-container">
        <div class="m-2 d-flex">
          <img th:src="@{/img/icon/logo.svg}" style="height: 65px" />

          <div class="m-2">
            <span> Final pretty </span>
            <br />
            <span> 後台管理 </span>
          </div>
        </div>
        <div class="m-3">
          <hr />
          <nav class="adminnav">
            <ul class="d-flex flex-column">
              <li class="my-2 d-flex">
                <img th:src="@{/img/icon/Pencil.svg}" />
                <a
                  class="adminlink"
                  href="#"
                  data-url="http://localhost:8082/public/api/article/categories"
                  data-title="文章管理"
                  >文章管理</a
                >
              </li>
              <li class="my-2 d-flex">
                <img th:src="@{/img/icon/VideoCam.svg}" />
                <a
                  class="adminlink"
                  href="#"
                  data-url="http://localhost:8082/admin/api/video/manage"
                  data-title="影片管理"
                  >影片管理</a
                >
              </li>
              <li class="my-2 d-flex">
                <img th:src="@{/img/icon/Users.svg}" />
                <a
                  class="adminlink"
                  href="#"
                  data-url="http://localhost:8082/admin/api/listUsers"
                  data-title="會員管理"
                  >會員管理</a
                >
              </li>
              <li class="my-2 d-flex">
                <img th:src="@{/img/icon/Pencil.svg}" /><a
                  class="adminlink"
                  href="#"
                  data-title="訂單管理"
                  data-url="http://localhost:8082/admin/api/orderAll"
                  >訂單管理</a
                >
              </li>
              <li class="my-2 d-flex">
                <img th:src="@{/img/icon/shop.svg}" /><a
                  class="adminlink"
                  href="#"
                  data-title="商城管理"
                  data-url="http://localhost:8082/admin/api/listProduct"
                  >商城管理</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="main-container flex-grow-1">
        <nav class="topnav d-flex justify-content-between p-2 my-3 mx-5">
          <div class="greetings px-1">
            <h2 th:replace="@{component/clock}"></h2>
          </div>
          <div
            class="rightsideicons d-flex justify-content-between shadow-material"
          >
            <div class="m-1 p-2">
              <strong>
                您好，[[${#authentication.getPrincipal().getNickname()}]]</strong
              >
            </div>
            <div>
              <a th:href="@{/perform_logout}"
                ><img
                  class="my-2 me-3"
                  th:src="@{/img/icon/Logout.svg}"
                  alt=""
                  style="height: 30px"
              /></a>
              <a href=""
                ><img
                  class="my-2 me-3"
                  th:src="@{/img/icon/adminlogo.svg}"
                  alt=""
                  style="height: 30px"
              /></a>
            </div>
          </div>
        </nav>

        <div class="m-5 d-flex justify-content-between">
          <div class="left d-flex align-items-center justify-content-between">
            <h1 id="tabletitle" class="mx-2">文章管理</h1>
            <span id="datatotal" class="mx-2">100位會員 </span>
          </div>
          <div
            class="searchbar bg-white rounded d-flex justify-content-between p-2 ms-2 shadow-material"
          >
            <input
              id="searchinput"
              size="40"
              class="bg-white border-0"
              placeholder="輸入關鍵字搜尋..."
            />
            <button class="btn" id="searchbtn">
              <img th:src="@{/img/icon/search.svg}" alt="" />
            </button>
          </div>
        </div>
        <div class="mx-5 width-100 bg-white shadow-material rounded-3 p-3">
          <div class="m-1 d-flex justify-content-end">
            <button class="button-48" id="showtable">
              <span style="font-size: large">顯示所有資料</span>
            </button>
            <button id="exportCSV" class="button-48">
              <span style="font-size: large">匯出成csv檔</span></button
            ><button class="button-48">
              <span id="filterbtn" style="font-size: large">過濾條件</span>
            </button>
          </div>
          <div id="table" class="tableview"></div>
        </div>
      </div>
    </div>

    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">商品修改</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="myForm">
            <div class="modal-body">
              <div class="mb-3">
                <label for="recipient-title" class="col-form-label"
                  >商品名稱:</label
                >
                <input
                  name="title"
                  type="text"
                  class="form-control"
                  id="recipient-title"
                  value=""
                  required
                />
              </div>
              <div class="mb-3">
                <label for="message-price" class="col-form-label"
                  >商品價格:</label
                >
                <input
                  name="price"
                  type="number"
                  min="0"
                  class="form-control"
                  id="recipient-price"
                  value=""
                  required
                />
              </div>
              <div class="mb-3">
                <label for="message-stock" class="col-form-label"
                  >商品庫存:</label
                >
                <input
                  name="stock"
                  type="number"
                  class="form-control"
                  id="recipient-stock"
                  value=""
                  required
                />
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >商品簡介:</label
                >
                <textarea
                  name="text"
                  class="form-control"
                  id="recipient-text"
                  required
                ></textarea>
              </div>
              <div class="mb-3">
                商品種類:<select id="type">
                  <option>運動食品</option>
                  <option>運動用品</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="inputFileToLoad" class="col-form-label"
                  >商品圖片:</label
                >
                <input
                  id="inputFileToLoad"
                  type="file"
                  name="file"
                  onchange="loadImageFileAsURL()"
                  class="file-upload-default"
                />
              </div>
              <div class="mb-3">
                <img
                  id="preview_img"
                  th:src="@{#}"
                  style="
                    height: 300px;
                    width: 300px;
                    border-radius: 60px 60px 60px 60px;
                    margin-left: 30px;
                  "
                />
                <input id="onsale" name="onsale" value="" hidden />
                <input id="product_id" name="product_id" value="" hidden />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button id="send" type="submit" class="btn btn-primary">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div> -->

    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">文章修改</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="myForm">
            <div class="modal-body">
              <div class="mb-3">
                <label for="recipient-title" class="col-form-label"
                  >文章標題:</label
                >
                <input
                  name="title"
                  type="text"
                  class="form-control"
                  id="article-title"
                  value=""
                  required
                />
              </div>
              <div class="mb-3">
                文章種類:<select id="type">
                  <option>減重知識</option>
                  <option>運動教學</option>
                  <option>飲食營養</option>
                  <option>心得分享</option>
                </select>
              </div>
              <div id="textareacontainer" class="mb-3"></div>
              <div class="mb-3">
                <label for="inputFileToLoad" class="col-form-label"
                  >文章圖片:</label
                >
                <input
                  id="inputFileToLoad"
                  type="file"
                  name="file"
                  onchange="loadImageFileAsURL()"
                  class="file-upload-default"
                />
              </div>
              <div class="mb-3">
                <img
                  id="preview_img"
                  src="#"
                  style="
                    height: 300px;
                    width: 300px;
                    border-radius: 60px 60px 60px 60px;
                    margin-left: 30px;
                  "
                />
                <input id="article_id" name="article_id" value="" hidden />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button id="editar" type="submit" class="btn btn-primary">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div> -->

    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">會員資料</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="myForm">
            <div class="modal-body">
              <div class="mb-3">
                <label for="recipient-nickname" class="col-form-label"
                  >暱稱:</label
                >
                <input
                  name="nickname"
                  type="text"
                  class="form-control"
                  id="recipient-nickname"
                  value=""
                  required
                />
              </div>
              <div class="mb-3">
                <label for="recipient-gender" class="col-form-label"
                  >性別:</label
                ><label for="recipient-man" class="col-form-label">男:</label
                ><input
                  name="gender"
                  id="recipient-man"
                  type="radio"
                  value="1"
                />
                <label for="recipient-female" class="col-form-label">女:</label
                ><input
                  name="gender"
                  id="recipient-female"
                  type="radio"
                  value="0"
                />
              </div>
              <div class="mb-3">
                <label for="recipient-age" class="col-form-label">年齡:</label
                ><input
                  id="recipient-age"
                  name="age"
                  type="number"
                  min="0"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="recipient-height" class="col-form-label"
                  >身高:</label
                ><input
                  id="recipient-height"
                  name="height"
                  type="number"
                  step="0.1"
                  min="0"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="recipient-weight" class="col-form-label"
                  >體重:</label
                ><input
                  id="recipient-weight"
                  name="weight"
                  type="number"
                  step="0.1"
                  min="0"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="recipient-bodyFat" class="col-form-label"
                  >體脂肪:</label
                ><input
                  id="recipient-bodyFat"
                  name="bodyFat"
                  type="number"
                  step="0.1"
                  min="0"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="recipient-visceralFat" class="col-form-label"
                  >內臟脂肪:</label
                ><input
                  id="recipient-visceralFat"
                  name="visceralFat"
                  type="number"
                  step="0.1"
                  min="0"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="recipient-muscleMass" class="col-form-label"
                  >肌肉量:</label
                ><input
                  id="recipient-muscleMass"
                  name="muscleMass"
                  type="number"
                  step="0.1"
                  min="0"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="recipient-becomeVIP" class="col-form-label"
                  >VIP:</label
                ><label for="recipient-man" class="col-form-label">是:</label
                ><input
                  name="becomeVIP"
                  id="recipient-on"
                  type="radio"
                  value="1"
                />
                <label for="recipient-becomeVIP" class="col-form-label"
                  >否:</label
                ><input
                  name="becomeVIP"
                  id="recipient-off"
                  type="radio"
                  value="0"
                />
              </div>

              <div class="mb-3">
                <label for="inputFileToLoad" class="col-form-label"
                  >會員圖片:</label
                >
                <input
                  id="inputFileToLoad"
                  type="file"
                  name="file"
                  onchange="loadImageFileAsURL()"
                  class="file-upload-default"
                />
              </div>
              <div class="mb-3">
                <img
                  id="preview_img"
                  src="#"
                  style="
                    height: 300px;
                    width: 300px;
                    border-radius: 60px 60px 60px 60px;
                    margin-left: 30px;
                  "
                />
                <input id="member_id" name="member_id" value="" hidden />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button id="editmember" type="submit" class="btn btn-primary">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div> -->

    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">會員資料</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="myForm">
            <div class="modal-body">
              <div class="mb-3">
                <label for="recipient-title" class="col-form-label"
                  >標題:</label
                >
                <input
                  name="title"
                  type="text"
                  class="form-control"
                  id="recipient-title"
                  value=""
                  required
                />
              </div>

              <div class="mb-3">
                <label for="recipient-age" class="col-form-label">分類:</label
                ><select name="type">
                  <option>胸肌</option>
                  <option>背肌</option>
                  <option>腿肌</option>
                  <option>肩膀</option>
                  <option>腹部</option>
                  <option>手臂</option>
                  <option>有氧</option>
                  <option>伸展</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="recipient-height" class="col-form-label"
                  >主要部位:</label
                ><select name="body_parts">
                  <optgroup label="胸肌">
                    <option>胸大肌</option>
                  </optgroup>
                  <optgroup label="背肌">
                    <option>背闊肌</option>
                    <option>中背部</option>
                    <option>下背部</option>
                  </optgroup>
                  <optgroup label="腿肌">
                    <option>股四頭肌</option>
                    <option>股二頭肌</option>
                    <option>臀部肌群</option>
                    <option>小腿肌群</option>
                  </optgroup>
                  <optgroup label="肩膀">
                    <option>斜方肌</option>
                    <option>肩部</option>
                  </optgroup>
                  <optgroup label="腹部">
                    <option>腹肌</option>
                    <option>髂腰肌</option>
                  </optgroup>
                  <optgroup label="手臂">
                    <option>肱二頭肌</option>
                    <option>肱三頭肌</option>
                    <option>前臂</option>
                  </optgroup>
                  <optgroup label="有氧">
                    <option>不限部位</option>
                  </optgroup>
                  <optgroup label="伸展">
                    <option>不限部位</option>
                  </optgroup>
                </select>
              </div>
              <div class="mb-3">
                <label for="inputFileToLoad" class="col-form-label"
                  >影片封面:</label
                >
                <input
                  id="inputFileToLoad"
                  type="file"
                  name="file"
                  onchange="loadImageFileAsURL()"
                  class="file-upload-default"
                />
              </div>
              <div class="mb-3">
                <img
                  id="preview_img"
                  src="#"
                  style="
                    height: 300px;
                    width: 300px;
                    border-radius: 60px 60px 60px 60px;
                    margin-left: 30px;
                  "
                />
                <input id="video_id" name="video_id" value="" hidden />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button id="editvideo" type="submit" class="btn btn-primary">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div> -->

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">會員資料</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">商品名稱</th>
                      <th scope="col">商品數量</th>
                      <th scope="col">商品金額</th>
                    </tr>
                  </thead>
                  <tbody id="tb2"></tbody>
                </table>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              關閉
            </button>
          </div>
        </div>
      </div>
    </div>

    <div sec:authorize="isAuthenticated()">
      <input
        id="userID"
        th:value="${#authentication.getPrincipal().getId()}"
        hidden
      />
    </div>
  </body>
  <script th:src="@{/js/ajax.js}"></script>
  <script>
    ("use strict");
    //抓取元素
    //設定頁面改變所需要之變數
    let tabletitle = document.getElementById("tabletitle");
    let showAllurl = "http://localhost:8082/public/api/article/categories";
    //綁定table view 的變數
    let tableData;
    let initialTableData;

    //設定小時鐘

    // //將json陣列轉為 table
    // const jsonToHTMLbyQ = (querySelector, json) => {
    //   if (json.length == 0) {
    //     document.querySelector(querySelector).innerHTML = "";
    //     return;
    //   }
    //   //define table head
    //   let title = `<thead><tr>${Object.keys(json[0])
    //     .map((el) => `<th><strong>${el}</strong></th>`)
    //     .join("")}<th>操作</th></tr></thead>`;
    //   // define table body
    //   let trs = json.map(
    //     (el) =>
    //       `${Object.values(el)
    //         .map((td) => `<td class="data">${td}</td>`)
    //         .join("")}<td><button class="save btn-icon-edit"></button>
    //         <button class="delete btn-icon-delete"></button></td>`
    //   );
    //   let tbody = `<tbody>${trs
    //     .map((el) => `<tr>${el}</tr>`)
    //     .join("")}</tbody>`;
    //   let table = `<table class="table table-hover">${title}${tbody}</table>`;
    //   document.querySelector(querySelector).innerHTML = table;
    // };

    // //按鈕觸發呈現table
    // document.getElementById("showtable").addEventListener("click", () => {
    //   document.querySelector("#table").style.opacity = 0;
    //   setTimeout(() => {
    //     getdata(showAllurl, (result) => {
    //       //make a copy of data
    //       [...initialTableData] = [...result];
    //       jsonToHTMLbyQ("#table", result);
    //       document.querySelector("#table").style.opacity = 1;
    //     });
    //   }, 300);
    // });

    var inputFileToLoad = $("#inputFileToLoad");
    const ima = inputFileToLoad.change(function () {
      readURL(this);
    });
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#preview_img").attr("src", e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }

    //訂單管理
    //將json陣列轉為 table
    const jsonToHTMLbyQ = (querySelector, json) => {
      if (json.length == 0) {
        document.querySelector(querySelector).innerHTML = "";
        return;
      }
      //define table head
      let title = `<thead><tr>${Object.keys(json[0])
        .map((el, index) => {
          if (index <= 9 && index >= 0) {
            return `<th><strong>${el}</strong></th>`;
          }
        })
        .join("")}<th>操作</th></tr></thead>`;
      // define table body
      let trs = json.map(
        (el) =>
          `${Object.values(el)
            .map((td, index) => {
              if (index == 4) {
                if (td == 1) {
                  return `<td class="data">宅配</td>`;
                } else if (td == 0) {
                  return `<td class="data">超商自取</td>`;
                }
              } else if (index == 5) {
                if (td == 2) {
                  return `<td class="data">信用卡支付</td>`;
                } else if (td == 1) {
                  return `<td class="data">現金支付</td>`;
                }
              } else if (index == 7) {
                if (td == 1) {
                  return `<td class="data"><span style="color:green">已付款</span</td>`;
                } else if (td == null) {
                  return `<td class="data"><span style="color:red">尚未付款</span</td>`;
                }
              } else if (index == 10) {
                return `<td class="data"><button id="${el.order_id}" data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@getbootstrap" class="btn btn-primary">顯示明細</button></td>`;
              } else {
                return `<td class="data">${td}</td>`;
              }
            })
            .join("")}`
      );
      let tbody = `<tbody>${trs
        .map((el) => `<tr>${el}</tr>`)
        .join("")}</tbody>`;
      let table = `<table class="table table-hover">${title}${tbody}</table>`;
      document.querySelector(querySelector).innerHTML = table;
    };

    //按鈕觸發呈現table
    document.getElementById("showtable").addEventListener("click", () => {
      document.querySelector("#table").style.opacity = 0;
      setTimeout(() => {
        getdata(showAllurl, (result) => {
          //make a copy of data
          [...initialTableData] = [...result];
          jsonToHTMLbyQ("#table", result);
          document.querySelector("#table").style.opacity = 1;

          $(".btn-primary").click((e) => {
            getdata(
              `http://localhost:8082/public/findByFKOrderId/${$(e.target).attr(
                "id"
              )}`,
              (result) => {
                var string;
                console.log(result);
                for (let i of result) {
                  string += "<tr><td>" + i.product_name + "</td>";
                  string += "<td>" + i.count + "</td>";
                  string += "<td>" + i.total + "</td></tr>";
                }
                $("#tb2").html(string);
              }
            );
          });
        });
      }, 300);
    });

    //將輸入文字存成檔案
    function saveTextAsFile(_fileName, _text) {
      var textFileAsBlob = new Blob([_text], { type: "text/plain" });

      var downloadLink = document.createElement("a");
      downloadLink.download = _fileName;
      downloadLink.innerHTML = "Download File";
      if (window.webkitURL != null) {
        // Chrome allows the link to be clicked
        // without actually adding it to the DOM.
        downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
      } else {
        // Firefox requires the link to be added to the DOM
        // before it can be clicked.
        downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
        downloadLink.onclick = destroyClickedElement;
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
      }
      downloadLink.click();
    }

    function destroyClickedElement(event) {
      document.body.removeChild(event.target);
    }

    document.getElementById("exportCSV").addEventListener("click", () => {
      if (!tableData) {
        alert("table is null!");
        return;
      }
      var fields = Object.keys(tableData[0]);
      var replacer = function (key, value) {
        return value === null ? "" : value;
      };
      var csv = tableData.map(function (row) {
        return fields
          .map(function (fieldName) {
            return JSON.stringify(row[fieldName], replacer);
          })
          .join(",");
      });
      csv.unshift(fields.join(",")); // add header column
      csv = csv.join("\r\n");
      //create a download link and click and destroy it
      let filename = saveTextAsFile("test.csv", csv);
    });

    //TODO:排序資料，過濾
    document.getElementById("filterbtn").addEventListener("click", () => {
      alert("施工中");
    });

    //模糊搜尋
    const selectMatchItem = (lists, keyWord) => {
      let reg = new RegExp(keyWord);
      let resArr = [];
      if (!lists) return;
      lists.filter((item) => {
        for (let i in item) {
          if (reg.test(item[i])) {
            resArr.push(item);
            return;
          }
        }
      });
      return resArr;
    };

    document.getElementById("searchinput").addEventListener("change", () => {
      if (!document.getElementById("searchinput").value) {
        jsonToHTMLbyQ("#table", initialTableData);
        return;
      }

      let result = selectMatchItem(
        tableData,
        document.getElementById("searchinput").value
      );
      jsonToHTMLbyQ("#table", result ? result : []);
    });

    //切換頁面功能
    for (let e of document.getElementsByClassName("adminlink")) {
      e.addEventListener("click", (f) => {
        tabletitle.innerText = f.target.dataset.title;
        showAllurl = f.target.dataset.url;
        addurl = f.target.dataset.addurl;
      });
    }
  </script>
</html>
