<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hello Manager</title>
<div th:replace="jsmodules"></div>
<link rel="stylesheet" th:href="@{/css/hello.css}" />
<script defer th:src="@{/js/hello.js}"></script>
</head>
<body>
	<div th:replace="component/backendNavbar :: backendNavbar"></div>
	<div class="container-lg">
		<div class="" style="width: 50%; margin: 20px auto">
			<div th:if="${username} != null">
				<h1>
					您好，管理者<span th:text="${username}"></span>
				</h1>
			</div>
		</div>
	</div>
</body>
</html>