<!DOCTYPE html>
<html lang="en">
  <style>
    .container-lg {
      text-align: center;
      margin: 0;
      padding: 0;
      /* background-color: brown; */
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="jsmodules"></div>
    <title>home</title>
  </head>

  <body>
    <div th:replace="component/navbar :: navbar"></div>
    <div style="width: 100%; top: 76px">
      <div th:replace="component/carousel :: carousel"></div>
    </div>
    <div th:replace="component/store :: store"></div>
  </body>
</html>
