<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <div th:replace="jsmodules"></div>
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}" />
    <style>
      body {
        background-color: black;
        background-size: 100vw;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      footer {
        min-height: 100px;
        background: PapayaWhip;
      }
      article {
        flex: 1;
      }
    </style>
    <title>登入</title>
  </head>
  <body>
    <div th:replace="component/navbar"></div>
    <article>
      <div
        class="d-flex"
        style="height: 100vh; background: url(/img/wallpaper2.webp)"
      >
        <!-- 黃金比例格子 -->
        <div
          class="d-flex justify-content-center"
          style="width: 60%; position: relative"
        >
          <div style="position: absolute; top: 280px">
            <span
              style="
                color: white;
                font-size: 60px;
                text-shadow: black 0.1em 0.1em 0.2em;
                letter-spacing: 10px;
              "
            >
              <strong>
                愛自己，<br />
                就從健康瘦身開始
              </strong>
            </span>
          </div>
        </div>
        <div
          class="card mx-auto shadow-lg"
          style="
            width: 400px;
            height: 500px;
            border-radius: 10px;
            margin: 100px;
          "
        >
          <div class="d-flex justify-content-center p-5" style="height: 100px">
            <h1><span class="text-dark">登入</h1>
          </div>
          <form class="px-4 py-3" method="post" action="/perform_login">
            <div class="form-group p-3">
              <input
                type="text"
                class="form-control "
                id="exampleDropdownFormEmail1"
                placeholder="請輸入帳號或email..."
                name="username"
                required
                autofocus
              />
            </div>
            <div class="form-group p-3">
              <input
                type="password"
                class="form-control"
                id="exampleDropdownFormPassword1"
                name="password"
                required
                placeholder="密碼...."
              />
            </div>
            <div class="form-group p-2">
              <button type="submit" class="btn btn-primary w-100">登入</button>
            </div>
          </form>
          <div class="d-flex justify-content-around">
            <div class="flex-item">
              還沒有帳號？
              <a class="text-info" th:href="@{/public/register}">註冊</a>
            </div>
            <div class="flex-item">
              還是
              <span type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                忘記密碼？
              </span>
            </div>
          </div>
          <div
            id="errorMessageBox"
            class="mt-3 d-flex justify-content-center text-danger"
          >
            <span th:unless="${param.error == null}"
              >帳密輸入有誤或是帳號尚未啟動</span
            >
            <span
              th:unless="${param.logout == null}"
              th:text="${#strings.substringAfter(session[SPRING_SECURITY_LAST_EXCEPTION],':')}"
            ></span>
          </div>
        </div>
      </div>
      
    </article>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">寄送密碼確認信</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="px-4 py-3" method="post" action="/perform_login">
              <div class="form-group p-3">
                <input
                  type="text"
                  class="form-control "
                  id="exampleDropdownFormEmail1"
                  placeholder="請輸入帳號或email..."
                  name="username"
                  required
                  autofocus
                />
              </div>
              <div class="form-group p-2">
                <button type="submit" class="btn btn-primary w-100">寄送確認信</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <footer>
      <div th:replace="component/footer"></div>
    </footer>
  </body>
</html>
