<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
           function sendIdAndGetStudentListAndInfo(){
       let classSelected =document.getElementById("classCode");
       //get the select value
       let classCodeIdvalue = classSelected.value;
       //for studentList and classinfo
       let xhr2 = new XMLHttpRequest();
       // get the information from select value
       xhr2.open("GET","<c:url value='/clInfo.json'/>"+"?classCodeId="+classCodeIdvalue,true);
       xhr2.send();
       xhr2.onreadystatechange = function(){
         if(xhr2.readyState == 4 && xhr2.status == 200){
           displayStudentListAndInfo(xhr2.responseText);//當選擇改變時找出對應資訊和學生清單
         }
       }
       // insert class info and student list
      function displayStudentListAndInfo (responseText){
       // console.log($(".classCodeId").val());
       let dataSource =JSON.parse(responseText);
       let stuList=dataSource.slDto;
       let teacher=dataSource.cliDto[0].teacherName;
       let clsRoom=dataSource.cliDto[0].classroom;
       let subject=dataSource.cliDto[0].subject;
       let school=dataSource.cliDto[0].schoolType;
       let grade=dataSource.cliDto[0].grade;
    </script>
  </body>
</html>
