<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>videoCategories</title>
<div th:replace="jsmodules"></div>
<link rel="stylesheet" th:href="@{/css/videoCategories.css}" />
<script defer th:src="@{/js/hello.js}"></script>
</head>
<body>
	<div th:replace="component/navbar :: navbar"></div>
<p>
	<div class="container-lg">
		<div data-hicms-tmpl="index3_course_action">

			<div id="header" class="but1"
				onclick="location.href='/video/categories';"
				style="background-image: url('/img/body_parts/chest.png');">
				胸肌</div>

			<div id="header" class="but1"
				onclick="location.href='/video/categories';"
				style="background-image: url('/img/body_parts/back.png');">
				背肌</div>

			<div id="header" class="but1"
				onclick="location.href='/video/categories';"
				style="background-image: url('/img/body_parts/leg.png');">
				腿肌</div>

			<div id="header" class="but1"
				onclick="location.href='/video/categories';"
				style="background-image: url('/img/body_parts/shoulder.png');">
				肩膀</div>
<p>
			<div id="header" class="but2"
				onclick="location.href='/video/categories';"
				style="background-image: url('/img/body_parts/abs.png');">
				腹部</div>

			<div id="header" class="but2"
				onclick="location.href='/video/categories';"
				style="background-image: url('/img/body_parts/arm.png');">
				手臂</div>

			<div id="header" class="but2"
				onclick="location.href='/video/categories';"
				style="background-image: url('/img/body_parts/chest.png');">
				有氧</div>

			<div id="header" class="but2"
				onclick="location.href='/video/categories';"
				style="background-image: url('/img/body_parts/chest.png');">
				伸展</div>
		</div>
	</div>


</body>
</html>